<form class="password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <header class="header-row">
    <app-button variant="icon" type="button" ariaLabel="Zurück zum Chat" routerLink="/main">
      <img src="img/arrow_back.png" alt="" />
    </app-button>
    <h1>Passwort zurücksetzen</h1>
  </header>
  @if (isCodeValid) {
    <div class="box">
      <app-input
        formControlName="password"
        type="password"
        placeholder="Neues Passwort"
        appearance="filled"
        ariaLabel="Neues Passwort"
        [invalid]="!!getPasswordError()"
        [errorMessage]="getPasswordError()"
      />
      <app-input
        formControlName="passwordConfirm"
        type="password"
        placeholder="Neues Kennwort bestätigen"
        appearance="filled"
        ariaLabel="Neues Kennwort bestätigen"
        [invalid]="!!getPasswordConfirmError()"
        [errorMessage]="getPasswordConfirmError()"
      />
      <app-button class="form-button" variant="primary" type="submit" [disabled]="resetPasswordForm.invalid" [loading]="isSubmitting"
        >Passwort ändern</app-button
      >
    </div>
  } @else {
    <p class="error">Aktueller Code ungültig. Bitte neuen Code anfordern</p>
    <app-button class="form-button" variant="primary" type="submit" [loading]="isSubmitting"> Neuen Link anfordern </app-button>
  }
</form>
