<div class="borders">
  <app-header>
    <app-header-user-menu headerActions></app-header-user-menu>
  </app-header>
  <div class="forgotpassword">
    <div class="content">
      @if (isCodeValid) {
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div>
            <app-button variant="icon" type="button" ariaLabel="Zurück zum Chat" routerLink="/main">
              <img src="img/arrow_back.png" alt="" />
            </app-button>
            <div>
              <div>
                <h1>Passwort zurücksetzen</h1>
              </div>
            </div>
          </div>
          <div class="box">
            <app-input
              formControlName="password"
              type="password"
              placeholder="Neues Passwort"
              ariaLabel="Neues Passwort"
              [invalid]="!!getPasswordError()"
              [errorMessage]="getPasswordError()"
            />
            <app-input
              formControlName="passwordConfirm"
              type="password"
              placeholder="Neues Kennwort bestätigen"
              ariaLabel="Neues Kennwort bestätigen"
              [invalid]="!!getPasswordConfirmError()"
              [errorMessage]="getPasswordConfirmError()"
            />
            <div class="btnborder">
              <app-button variant="primary" type="submit" [disabled]="resetPasswordForm.invalid" [loading]="isSubmitting"
                >Passwort ändern</app-button
              >
            </div>
          </div>
        </form>
      } @else {
        <div class="box">
          <span class="error">Dieser Link zum Zurücksetzen des Passworts ist ungültig oder abgelaufen.</span>
          <div class="btnborder">
            <a routerLink="/forgotpassword" class="submitbutton">Neuen Link anfordern</a>
          </div>
        </div>
      }
    </div>
  </div>
  <app-footer></app-footer>
</div>
