<main class="header">
  <div class="logo-container">
    <a routerLink="/login"><img src="img/headerlogo.png" alt="" /></a>
  </div>
  <div class="searchbar">
    @if (searchService.getHeaderListBoolean()) {
      <div class="tag-container">
        <app-search-result [(input)]="input"></app-search-result>
      </div>
    }
  </div>

  @if (navigationService.isAuthPage()) {
    <div class="signup">
      <p>Neu bei DABubble?</p>
      <a routerLink="/register">Konto erstellen</a>
    </div>
  } @else if (!navigationService.isAuthPage()) {
    @if (!navigationService.isContactbarPage()) {
      <div class="input">
        <input
          [(ngModel)]="input"
          (input)="searchService.observeInput(input, 'header')"
          (click)="searchService.closeList(); searchService.setResult(false)"
          type="text"
          placeholder="Devspace durchsuchen"
          class="full-width"
        />
        <button><img src="img/icons.png" alt="" /></button>
      </div>
    }

    <div class="user-menu">
      <div
        (click)="navigationService.isMobile ? showMenuMobile() : showmenu()"
        [matMenuTriggerFor]="!navigationService.isMobile ? beforeMenu : null"
      >
        <span>{{ authService.currentUser()?.displayName }}</span>
        <img [src]="authService.currentUser()?.photoUrl" alt="Bild" />
        @if (!navigationService.isMobile) {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }

        <mat-menu class="menu-box" #beforeMenu="matMenu" xPosition="before" (closed)="onMenuClosed()">
          <button (click)="openUserProfile()" class="menu-box-btn" mat-menu-item (click)="$event.stopPropagation()">Profil</button>
          <button (click)="signOut()" class="menu-box-btn" mat-menu-item>Log out</button>
        </mat-menu>
      </div>
    </div>
  }
</main>

@if (showBackground) {
  <div (click)="onMenuClosed()" class="background"></div>
}
