.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: var(--contactbar-width) 1fr auto;
  align-items: center;
  padding: 20px;
  gap: 1em;
  width: 100%;
  max-width: 1920px;
}

.logo-container {
  grid-row: 1;
  grid-column: 1;
}

.searchbar {
  grid-row: 1;
  grid-column: 2;
}

.user-menu {
  grid-row: 1;
  grid-column: 3;
}

.header-login {
  display: flex;
  justify-content: center;
}

.signup {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;

  @media (max-width: 1023px) {
    display: none;
  }

  > p:nth-child(1) {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
  }
  > a:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    color: #797ef3;
    text-decoration: none;
    padding: 10px 15px;
    &:hover {
      border: 1px solid #adb0d9;
      padding: 9px 14px;
      border-radius: 30px;
    }
  }
}

.logo-container {
  width: var(--contactbar-width);
}

.searchbar {
  flex: 1;
  position: relative;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  app-button.menu__triger__btn {
    font-weight: 700;
    font-size: 2rem;

    ::ng-deep button {
      gap: 1.25rem;
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }
}

.input {
  app-input {
    --app-input-bg: white;
    --app-input-radius: 42px;
    --app-input-padding: 1.1rem 1ch 1.1rem 2.813rem;
    --app-input-font-size: 1.5rem;
    flex: 1;
    ::ng-deep {
      .app-input__control {
        outline: 1px solid var(--bg-color);
        transition: all 0.125s ease-in-out;
      }

      .app-input__suffix {
        padding-right: 2.813rem;
        margin: 0;
        color: var(--text-grey);
      }
    }

    &:hover ::ng-deep {
      .app-input__control {
        outline: 1px solid var(--medium-purple);
      }
      .app-input__suffix {
        color: var(--medium-purple);
      }
    }

    &:focus-within {
      ::ng-deep {
        .app-input__control {
          outline: 1px solid var(--dark-purple);
        }

        .app-input__suffix {
          color: var(--dark-purple);
        }
      }
    }
  }
}

.tag-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 54px;
  outline: 1px solid var(--light-purple);
  border-radius: 0 20px 20px 20px;
  padding: 20px 21px;
  background-color: white;
  z-index: 99;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  position: relative;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 50px !important;
    border-radius: 30px;
    @media (max-width: 1023px) {
      height: 50px !important;
    }
  }
}

.tag {
  border-radius: unset !important;
  max-width: 16px !important;
  max-height: 16px !important;
}

@media (max-width: 1023px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: 15px 16px;
    row-gap: 48px;
    background-color: var(--bg-color);

    .logo-container {
      width: fit-content;
      img {
        width: 161.5px;
        height: 45px;
      }
    }

    .searchbar {
      display: none;
    }

    .user-menu {
      grid-row: 1;
      grid-column: 2;

      div {
        img {
          width: 50px;
          cursor: pointer;
        }
      }
      .menu-button {
        display: none;
      }
    }
  }

  .bg-wrapper-mobile {
    grid-row: 2;
    grid-column: 1/4;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
    left: 0;
    height: 80px;
    background-color: var(--bg-color);
  }
}
