:host {
  display: contents;
  max-width: 1920px;
}

.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: var(--contactbar-width) 1fr auto;
  align-items: center;
  padding: 20px;
  gap: 1em;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @media (width < 1024px) {
    grid-template-columns: 1fr 1fr;
    padding: 15px 16px;
    row-gap: 48px;
    background-color: var(--bg-color);
  }
}

.logo {
  grid-row: 1;
  grid-column: 1;

  @media (width < 1024px) {
    img {
      height: 45px;
    }
  }
}

.searchbar {
  grid-row: 1;
  grid-column: 2;
  flex: 1;
  position: relative;
}

.user-menu {
  grid-row: 1;
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (width < 1024px) {
    grid-row: 1;
    grid-column: 2;

    div {
      img {
        width: 50px;
        cursor: pointer;
      }
    }
    .menu-button {
      display: none;
    }
  }
}

.header-login {
  display: flex;
  justify-content: center;
}

.logo-container {
  width: var(--contactbar-width);
}
