<main class="header">
  <div class="logo-container">
    <a routerLink="/login"><img src="img/headerlogo.png" alt="" /></a>
  </div>
  <div class="searchbar">
    @if (searchService.getHeaderListBoolean()) {
      <div class="tag-container">
        <app-search-result [(input)]="input"></app-search-result>
      </div>
    }

    @if (!navigationService.isContactbarPage() && !navigationService.isMobile() && !navigationService.isAuthPage()) {
      <div class="input">
        <app-input
          appearance="filled"
          [(ngModel)]="input"
          (input)="searchService.observeInput(input, 'header')"
          (click)="searchService.closeList()"
          type="text"
          placeholder="Devspace durchsuchen"
          ariaLabel="Devspace durchsuchen"
        >
          <mat-icon appInputSuffix>search</mat-icon>
        </app-input>
      </div>
    }
  </div>

  @if (navigationService.isAuthPage()) {
    <div class="signup">
      <p>Neu bei DABubble?</p>
      <a routerLink="/register">Konto erstellen</a>
    </div>
  } @else if (!navigationService.isAuthPage()) {
    <div class="user-menu">
      <app-button
        variant="plain"
        class="menu__triger__btn"
        (click)="onOpenMenu()"
        [matMenuTriggerFor]="!navigationService.isMobile() ? beforeMenu : null"
      >
        <span>{{ authService.currentUser()?.displayName }}</span>
        <app-profile-status
          [photoUrl]="authService.currentUser()?.photoUrl"
          [online]="authService.currentUser()!.online"
        ></app-profile-status>
        @if (!navigationService.isMobile()) {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </app-button>

      <mat-menu class="menu-box" #beforeMenu="matMenu" xPosition="before" (closed)="onMenuClosed()">
        <button (click)="showProfile()" class="menu-box-btn" mat-menu-item (click)="$event.stopPropagation()">Profil</button>
        <button (click)="signOut()" class="menu-box-btn" mat-menu-item>Log out</button>
      </mat-menu>
    </div>
  }
</main>
