.user-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px 21px;
  gap: 20px;

  .drag-handle {
    align-self: center;
    width: 62px;
    height: 6px;
    border-radius: 23px;
    background: rgba(217, 217, 217, 1);
  }
}

app-button {
  max-width: fit-content;
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
}
