<main class="header">
  <div class="logo-container">
    <a routerLink="/main"><img src="img/headerlogo.png" alt="" /></a>
  </div>
  <div class="searchbar">
    <div class="input" *ngIf="!userService.login && userService.dashboard">
      <input [(ngModel)]="input" (input)="getList()" type="text" placeholder="Devspace durchsuchen" class="full-width" />
      <button><img src="/img/icons.png" alt="" /></button>
    </div>

    <ul [ngClass]="{ show: isClicked }" class="lists">
      <li
        (click)="getReciever(index)"
        [ngClass]="{ channelStyle: isChannel }"
        class="listrow"
        *ngFor="let object of currentlist; index as index"
      >
        <div *ngIf="!isChannel" class="imageContainer">
          <img [src]="object?.profilephoto" alt="" />
          <div class="status-dot" [ngClass]="{ green: object?.online }"></div>
        </div>
        <img class="tag" *ngIf="isChannel" src="./img/tag.svg" alt="" />
        <span>{{ object?.fullname || object?.name }}</span>
        <span *ngIf="object?.fullname === currentUser?.displayName">(Du)</span>
      </li>
    </ul>
  </div>

  <div *ngIf="isMobile && userService.dashboard" class="bg-wrapper-mobile"></div>

  <div class="signup" *ngIf="userService.login && !userService.dashboard">
    <p>Neu bei DABubble?</p>
    <a routerLink="/signup">Konto erstellen</a>
  </div>
  <div class="user-menu" *ngIf="!userService.login && userService.dashboard">
    <div (click)="isMobile ? showmenu() : null" [matMenuTriggerFor]="isMobile ? beforeMenu : null">
      <span>{{ this.userService.user.displayName || "Gast" }}</span>
      <img src="img/Profile bild.png" alt="" />
      <div>
        <button class="menu-button" (click)="showmenu()" mat-icon-button [matMenuTriggerFor]="beforeMenu">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu class="menu-box" #beforeMenu="matMenu" xPosition="before" (closed)="onMenuClosed()">
          <ng-container *ngIf="showmenu">
            <button *ngIf="!showmodifycontent" (click)="show()" class="menu-box-btn" mat-menu-item (click)="$event.stopPropagation()">
              Profil
            </button>
            <button *ngIf="!showmodifycontent" class="menu-box-btn" mat-menu-item (click)="signOut()">Log out</button>
          </ng-container>

          <app-user-profile
            (click)="$event.stopPropagation()"
            [menuTrigger]="menuTriggerRef"
            [showmodifycontent]="showmodifycontent"
            *ngIf="showmodifycontent"
          ></app-user-profile>
        </mat-menu>
      </div>
    </div>
  </div>
</main>

<div *ngIf="showBackground" class="background"></div>
