.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  @media (max-width: 1204px) {
    width: 100%;
    justify-content: space-between;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
    padding: 6px;
  }
  @media (max-width: 392px) {
    flex-direction: column;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
    justify-content: center;
  }
  img {
    width: fit-content;
    height: fit-content;
  }
  > div:nth-child(1) {
    @media (max-width: 500px) {
      width: unset;
    }
  }
}

.signup {
  width: 24%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
    display: none;
  }
  @media (max-width: 400px) {
    width: unset;
  }
  @media (max-width: 1204px) {
    height: unset;
  }
  > p:nth-child(1) {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
  }
  > a:nth-child(2) {
    font-family: "Figtree";
    font-weight: 400;
    font-size: 18px;
    color: #797ef3;
    text-decoration: none;
    padding: 10px 15px;
    &:hover {
      border: 1px solid #adb0d9;
      padding: 9px 14px;
      border-radius: 30px;
    }
  }
}

.logo-container {
  width: var(--contactbar-width);
}

.searchbar {
  flex: 1;
  position: relative;
}

.d-none {
  display: none !important;
}

.d-none1 {
  display: flex;
  @media (max-width: 1206px) {
    display: none !important;
  }
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: 696px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  > div:nth-child(1) {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 82%;
    @media (max-width: 492px) {
      justify-content: center;
    }
    > img:nth-child(2) {
      margin-left: 5%;
    }
    > span:nth-child(1) {
      font-family: "Nunito";
      font-weight: 700;
      font-size: 32px;
      color: #000000;
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
}

.input {
  border-radius: 42px;
  padding: 17.5px 45px 17.5px 45px;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1023px) {
    display: none;
  }
  > input {
    border: none;
    outline: none;
    font-size: 26px;
    font-weight: 700;
    font-family: "Nunito";

    &::placeholder {
      font-size: 18px;
      font-weight: 400px;
    }
    @media (max-width: 400px) {
      width: 100%;
    }
    &:hover {
      outline: none;
    }
  }
  > button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.lists {
  position: absolute;
  left: 43px;
  top: 54px;
  width: 100%;
  max-width: 350px;
  max-height: 467px;
  outline: 1px solid var(--light-purple);
  border-radius: 0 20px 20px 20px;
  padding: 20px 21px;
  display: none;
  background-color: white;
  overflow-y: scroll;
  z-index: 99;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.listrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 15px;
  border-radius: 30px;
  padding: 4px 20px 4px 25px;
  cursor: pointer;
  transition: all 0.125s ease-in-out;

  > span {
    font-size: 18px;
    font-weight: 400;
  }

  &:hover {
    background-color: var(--bg-color);
    color: var(--dark-purple);
    > span {
      font-weight: 700;
    }

    > .tag {
      content: url(./../../../public/img/tag-purple.svg) !important;
    }
  }
}

.status-dot {
  position: absolute;
  bottom: 0;
  right: -2px;
  width: 12px;
  height: 12px;
  border: solid;
  background-color: gray;
  border-radius: 50%;
  border-color: #eceefe;
  border-width: 2px;
}

.green {
  background-color: #92c83e;
}

.imageContainer {
  position: relative;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 30px;
  }
}

.tag {
  border-radius: unset !important;
  max-width: 16px !important;
  max-height: 16px !important;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #72727258;
  z-index: 3;
}
