<header class="header">
  <a routerLink="/register" class="back-link"> <img src="img/arrow_back.png" alt="Pfeil zurück" /></a>
  <h1 class="headline">Wähle deinen Avatar</h1>
</header>

<main class="profilebox">
  <div class="user-meta-data">
    <img class="avatar-icon" src="{{ currentAvatar() }}" alt="Aktueller Avatar" />
    <h2 class="user-name">{{ authService.currentUser()?.displayName || authService.getUserName() }}</h2>
  </div>

  <p>Aus der Liste wählen</p>

  <div class="avatar-selection-box">
    @for (avatar of avatars; track avatar) {
      <img
        [src]="'img/avatars/' + avatar"
        [alt]="avatar"
        (click)="selectAvatar(avatar)"
        [class.selected]="currentAvatar() === 'img/avatars/' + avatar"
      />
    }
  </div>
</main>

<footer class="footer">
  <button (click)="onSubmit()">Weiter</button>
</footer>
<!-- @if (error) {
          <span class="error">Diese E-Mail-Adresse ist bereits vergeben. Bitte gehen Sie zurück und versuchen Sie es erneut. </span>
        } -->
