.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 50px;
  transform: translateX(100%);
  transition: transform 0.125s ease-in-out;

  span {
    background-color: var(--dark-purple);
    padding: 25px 50px;
    border-radius: 25px 0 25px 25px;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
}

.overlay.active {
  transform: translateX(0);
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.1px;
  color: #ed1e79;
  display: flex;
  max-width: 465px;
  text-align: center;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  .back-link {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }
  .headline {
    font-weight: 700;
    color: #444df2;
    text-align: center;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  > button {
    padding: 12px 25px;
    border-radius: 25px;
    background-color: #444df2;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.55px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    &:disabled {
      background-color: #686868;
      color: #ffffff;
      cursor: unset;
    }
    &:hover:not(:disabled) {
      background-color: #797ef3;
    }
  }
}

.profilebox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 24px 0;

  p {
    font-size: 20px;
    text-align: start;
  }

  .user-meta-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar-icon {
      width: clamp(88px, 15vw, 168px);
      height: clamp(88px, 15vw, 168px);

      aspect-ratio: 1 / 1;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-name {
      text-align: center;
      font-weight: 700;
    }
  }
}

.avatar-selection-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;

  > img {
    width: clamp(40px, 12vw, 64px);
    aspect-ratio: 1 / 1;
    height: auto;

    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.125s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &.selected {
      transform: scale(1.1);
    }

    &:hover:not(.selected) {
      opacity: 0.8;
    }
  }
}
