<header class="justify-sb full-width">
  <div class="align-center">
    <app-button variant="icon" ariaLabel="Zurück" (click)="handleBack()">
      <mat-icon>arrow_back_ios</mat-icon>
    </app-button>
    <img src="img/workspace-logo.svg" alt="Logo" />
  </div>

  <app-button variant="plain" ariaLabel="Benutzermenü öffnen" (click)="openUserMenu()">
    <img [src]="this.authService.currentUser()?.photoUrl" [alt]="authService.currentUser()?.displayName ?? 'Profilbild'" />
  </app-button>
</header>
