ul {
  max-height: 250px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  list-style: none;
}

.result-btn {
  width: 100%;
  border: none;
  background: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 20px;
}

li:hover .result-btn,
li.highlighted .result-btn {
  background-color: var(--bg-color);
}

.empty-state {
  padding: 4px 20px;
}
