<header class="header">
  <a routerLink="/register" class="back-link" aria-label="Pfeil zurück"> <mat-icon>arrow_back</mat-icon></a>
  <h1 class="headline">Wähle deinen Avatar</h1>
</header>

<main class="profilebox">
  <div class="user-meta-data">
    <img class="avatar-icon" src="{{ currentAvatar() }}" alt="Aktueller Avatar" />
    <h2 class="user-name">{{ authService.currentUser()?.displayName || authService.getUserName() }}</h2>
  </div>

  <p>Aus der Liste wählen</p>

  <app-avatar-picker [(selected)]="currentAvatar"></app-avatar-picker>
</main>

<footer class="footer">
  <app-button
    variant="primary"
    type="button"
    [disabled]="authService.isLoading()"
    [loading]="authService.isLoading()"
    (click)="onSubmit()"
    >Weiter</app-button
  >
</footer>
