@if (!navigationService.isMobile()) {
  <aside (click)="toogleContactbar()" class="navbar-toggle-container">
    <span>Workspacemenü {{ barOpen ? "öffnen" : "schließen" }}</span>
    <span [ngStyle]="{ transform: barOpen ? 'rotate(90deg)' : 'rotate(-90deg)' }" class="material-symbols-outlined"> left_panel_open </span>
  </aside>
}

<main (click)="closeAll()">
  @if (!navigationService.isMobile()) {
    <app-header></app-header>
  }

  <div class="content-container">
    <mat-drawer-container class="chat-content" autosize>
      <mat-drawer class="contactbar-container" mode="side" [opened]="!navigationService.isMobile()" #drawerContactbar>
        <app-contactbar></app-contactbar>
      </mat-drawer>

      <div class="component-area">
        <router-outlet></router-outlet>
      </div>

      <mat-drawer mode="side" #drawer position="end" class="thread-container">
        <app-thread></app-thread>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</main>

@if (feedbackVisible) {
  <div #feedback class="feedback-cont"></div>
}
