<main class="form">
  <header>
    <h1>Anmeldung</h1>
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
  </header>

  <form class="input-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="loginForm">
    <div class="full-width input-box">
      <div class="full-width input-row">
        <input type="email" name="email" formControlName="email" placeholder="beispielname@email.com" />
        <mat-icon class="material-symbols-outlined">email</mat-icon>
      </div>

      @if (loginForm.get("email")?.invalid && (loginForm.get("email")?.touched || loginForm.get("email")?.dirty)) {
        @if (loginForm.get("email")?.errors?.["required"]) {
          <span class="error">*Bitte Email Adresse eingeben.</span>
        }
        @if (loginForm.get("email")?.errors?.["email"]) {
          <span class="error">*Diese E-Mail Adresse ist leider ungültig.</span>
        }
      }
    </div>

    <div class="full-width input-box">
      <div class="full-width input-row">
        <input type="password" name="password" formControlName="password" placeholder="Passwort" />
        <mat-icon class="material-symbols-outlined">lock</mat-icon>
      </div>

      @if (loginForm.get("password")?.errors?.["required"] && (loginForm.get("password")?.touched || loginForm.get("password")?.dirty)) {
        <span class="error">*Bitte Password eingeben </span>
      } @else if (authService.error) {
        <span class="error">*Falsches Passwort oder E-Mail.. Bitte noch einmal versuchen. </span>
      }
    </div>
  </form>

  <a class="link" routerLink="/forgotpassword">Passwort vergessen?</a>

  <div class="divider">ODER</div>

  <section class="btn-container">
    <button class="btn btn-google" type="button" (click)="signinwithgoogle()">
      <img src="img/Google.png" alt="Google Logo" />
      Anmelden mit Google
    </button>
    <div class="full-width justify-center gap-20 flex-wrap">
      <button type="submit" class="btn" [disabled]="this.authService.isLoading" form="loginForm">Anmelden</button
      ><button type="button" class="btn" [disabled]="this.authService.isLoading" (click)="guestLogin()">Gäste-Login</button>
    </div>
  </section>
</main>
