.profile-main-cont {
  width: clamp(200px, 100%, 400px);
  height: fit-content;
  border-radius: 30px 0 30px 30px;
  background-color: rgba(255, 255, 255, 1);
  gap: 38px;
  display: flex;
  flex-direction: column;
  padding: 45px 20px;

  @media screen and (width < 1024px) {
    border-radius: 30px;
  }

  &.receiver {
    border-radius: 30px;
  }

  .contact-cont {
    display: flex;
    flex-direction: column;
    .contact-row {
      display: flex;
      gap: 20px;
    }
    .contact {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0;

      dd {
        margin: 0;
      }

      .email {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 700;
      }
      .email-route {
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--blue-email-color);
        text-decoration: none;
      }
    }
  }
  .picture-cont {
    display: flex;
    place-self: center;
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    color: inherit;

    img {
      border-radius: 500px;
      width: 200px;
      aspect-ratio: 1;
      outline: 2px solid transparent;
      border: 0px solid transparent;
      transition: all 0.125s ease-in-out;
    }

    &.editable img:hover {
      cursor: pointer;
      outline-color: var(--dark-purple);
      border: 4px solid white;
    }
  }
  .discription-cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .status-cont {
      display: flex;
      align-items: center;
      gap: 15px;
      .circle {
        width: 16px;
        height: 16px;
        border-radius: 100%;
      }
      .status {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 27.28px;
      }
      .circle.online {
        background-color: var(--online);
      }
      .circle.offline {
        background-color: var(--offline);
      }
      .status.online {
        color: var(--online);
      }
      .status.offline {
        color: var(--text-grey);
      }
    }
    .info-edit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
      .name {
        margin: 0;
        font-size: 2rem;
        font-weight: 700;
      }
      .edit-btn {
        color: var(--dark-purple-text);
      }
    }
  }
}

app-button {
  place-self: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .name-row {
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 1.125rem;
  }
}

.action-btn {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

app-guest-lock-tooltip {
  --tooltip-bottom: 110%;
  --tooltip-left: auto;
  --tooltip-right: 0;
  --tooltip-transform: none;
}
