.main {
  justify-items: center;
  max-width: 1440px;

  @media (width < 1024px) {
    justify-items: initial;
  }
}

section {
  height: 100vh;
  background: var(--bg-color);
  flex: 1;
  width: 100%;
  max-width: 1920px;
}

.main-chat-container {
  padding: 0 1em;

  @media (width < 1024px) {
    padding: 0;
  }
}

.thread-container {
  width: 33%;
  @media (width< 1024px) {
    width: 100%;
  }
}

.mat-drawer.mat-drawer-side {
  z-index: 0;
}

.mat-drawer-container,
.mat-drawer {
  background-color: unset;
}

.mat-drawer-side.mat-drawer-end {
  border-left-style: unset;
  border-radius: unset;
}

.navbar-toggle-container {
  position: fixed;
  bottom: 10%;
  writing-mode: vertical-lr;
  rotate: 180deg;
  box-shadow: -4px -4px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px 0 0 30px;
  display: flex;
  gap: 1.5em;
  align-items: center;
  background-color: white;
  padding: 1.438em 0.875em;
  z-index: 2;
  font-size: 1.25rem;
  font-weight: 500;
}

.navbar-toggle-btn {
  display: contents;
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
