<div #mainDialog class="dialog-container">
  <header class="channel-header">
    # {{ this.currentChannel()?.name }}
    <button (click)="close()">
      <img src="img/close.svg" alt="" />
    </button>
  </header>

  <main class="main">
    <section class="box" id="channelname-edit-cont" [ngClass]="{ 'change-name-edit-cont': channelNameEdit }">
      <div class="box--header">
        Channel-Name
        <button class="save-btn" (click)="onEditChannelName()">{{ channelNameEdit ? "Speichern" : "Bearbeiten" }}</button>
      </div>
      @if (channelNameEdit) {
        <div class="input-wrapper">
          <input
            type="text"
            name="channelname-input"
            [(ngModel)]="tempName"
            placeholder="Channelname"
            (keyup.enter)="onEditChannelName()"
          />
        </div>
      } @else {
        <div># {{ currentChannel().name }}</div>
      }
    </section>

    <section class="box" [ngClass]="{ 'change-name-edit-cont': channelDescriptionEdit }">
      <div class="box--header">
        Beschreibung
        <button class="save-btn" (click)="onEditChannelDescription()">
          {{ !channelDescriptionEdit ? "Bearbeiten" : "Speichern" }}
        </button>
      </div>

      @if (channelDescriptionEdit) {
        <textarea name="" id="changeDescriptionInput" [(ngModel)]="tempDescription" (keyup.enter)="onEditChannelDescription()"></textarea>
      } @else {
        <div class="content--description">
          {{ currentChannel().description || "Keine Beschreibung vorhanden" }}
        </div>
      }

      <div class="line"></div>
      <div class="creator">
        Erstellt von
        <div class="creator--name">
          {{ currentChannel().creator }}
        </div>
      </div>
    </section>

    <section class="box box--list">
      <div class="box--header">Mitglieder</div>

      <ul class="member-list">
        @for (member of enrichedMembers(); track $index) {
          <li (click)="showProfile(member)" class="member-list--item">
            <div class="profile-status">
              <img class="profile-status__image" [src]="member.photoUrl" alt="" />
              <div class="profile-status__dot" [ngClass]="{ 'profile-status__dot--online': member.online }"></div>
            </div>
            {{ member.displayName }}
          </li>
        }

        <button (click)="toogleAddMemberState()" #addMemberMobileButton class="add-member-mobile-btn member-list--item">
          <mat-icon class="material-symbols-outlined">person_add</mat-icon>
          Mitglieder hinzufügen
        </button>
      </ul>
    </section>

    <section #slectUserBar class="tooltip" [ngClass]="{ 'menu-toggle-open': isAddMemberOpen }">
      <div class="tooltip--line"></div>

      <header class="tooltip--header">
        Leute hinzufügen
        <button (click)="toogleAddMemberState()"><mat-icon>close</mat-icon></button>
      </header>

      @for (user of selectedUsers; track user.id) {
        <div class="mini-profile-cont">
          <img class="user-img-mini" [src]="user.photoUrl" alt="" />
          {{ user.displayName }}
          <button (click)="removeSelectedUser($index)"><mat-icon>close</mat-icon></button>
        </div>
      }

      <div class="input-wrapper">
        <input class="user-search-bar" (input)="onSearchInput($event)" (click)="openUserBar()" placeholder="Name eingeben..." />
        @if (showUserBar) {
          <div class="choose-user-bar" #chooseUserBar>
            @for (user of filteredUsers(); track user.id; let i = $index) {
              <div class="user-select-cont" (click)="addUserToSelection(i)">
                <div class="img-status-cont">
                  <img [src]="user.photoUrl" alt="" />
                  <div class="satus-circle" [ngClass]="{ online: user.online }"></div>
                </div>
                <span>{{ user.displayName }}</span>
              </div>
            }
          </div>
        }
      </div>

      <button class="submit-btn" [disabled]="!isAddUserValid()" (click)="onSubmit()">Hinzufügen</button>
    </section>

    @if (isAddMemberOpen) {
      <div class="custom-backdrop" (click)="toogleAddMemberState()"></div>
    }

    <button class="exit-btn" (click)="exitChannel()">Channel verlassen</button>

    @if (isAddMemberOpen) {
      <div class="custom-backdrop" (click)="toogleAddMemberState()"></div>
    }

    <button class="exit-btn" (click)="exitChannel()">Channel verlassen</button>
  </main>
</div>
