<header *ngIf="isMobile">
  <img src="/img/workspace-logo.svg" alt="Logo" />
  <img [src]="this.currentUser?.profilephoto" alt="" />
</header>
<main>
  <app-channel-edit
    *ngIf="channelInfo"
    [(channelInfo)]="channelInfo"
    [currentChannel]="currentChannel"
    [currentChannelId]="currentChannelId"
    [currentUser]="currentUser"
  ></app-channel-edit>
  <div class="card">
    <section class="card-header">
      <div class="align-center" (click)="openChannelInfo()">
        # {{ this.currentChannel?.name }}
        <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
      </div>
      <div class="align-center gap-10">
        <div class="avatar-container">
          <ng-container *ngFor="let member of currentChannel?.member; index as i">
            <img *ngIf="i < 3" class="avatar" [src]="member.profilephoto" alt="Name" />
          </ng-container>
        </div>
        <span *ngIf="currentChannel?.member?.length > 3">+{{ currentChannel?.member?.length - 3 }}</span>

        <button>
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </section>

    <ul class="chat-content gap-10" #chatContent>
      <ng-container *ngFor="let message of this.messages; index as i">
        <li *ngIf="message.newDay">
          <div class="date-container">
            <span class="date">{{ isToday(message.date) ? "Heute" : message.date }}</span>
          </div>
        </li>

        <li
          (mouseleave)="reactionMenuOpen = false; menuOpen = false"
          class="message"
          [ngClass]="{
            reverse: message.name == this.userService.auth.currentUser?.displayName
          }"
        >
          <div *ngIf="!isEditing" class="reaction-bar">
            <button
              class="medium-purple-hover"
              [ngClass]="{ 'bg-purple': this.hasReacted('emoji _white heavy check mark_', message.reaction) }"
              (click)="addReaction(message, 'emoji _white heavy check mark_')"
            >
              <img src="img/emojis/emoji _white heavy check mark_.png" alt="emoji _white heavy check mark" />
            </button>
            <button
              class="medium-purple-hover"
              [ngClass]="{
                'bg-purple': this.hasReacted('emoji _person raising both hands in celebration_', message.reaction)
              }"
              (click)="addReaction(message, 'emoji _person raising both hands in celebration_')"
            >
              <img
                src="img/emojis/emoji _person raising both hands in celebration_.png"
                alt="emoji _person raising both hands in celebration_"
              />
            </button>
            <button (click)="this.reactionMenuOpen = !this.reactionMenuOpen" class="hover-to-dark-purple">
              <img src="/img/reaction-bar-icons/add_reaction.png" alt="" />
            </button>
            <button (click)="toggleThread()" class="hover-to-dark-purple">
              <img src="/img/reaction-bar-icons/comment.png" alt="" />
            </button>
            <button
              *ngIf="message.name == this.userService.auth.currentUser?.displayName"
              class="hover-to-dark-purple"
              (click)="this.menuOpen = !this.menuOpen"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <div *ngIf="menuOpen && message.name == this.userService.auth.currentUser?.displayName" class="menu">
              <button (click)="editMessage(message, i)">Nachricht bearbeiten</button>
            </div>

            <div *ngIf="reactionMenuOpen" class="reaction-menu">
              <ng-container *ngFor="let emoji of emojis">
                <div
                  class="emoji"
                  [ngClass]="{ 'bg-purple': this.hasReacted(emoji, message.reaction) }"
                  (click)="addReaction(message, emoji)"
                >
                  <img [src]="'img/emojis/' + emoji + '.png'" alt="{{ emoji }}" />
                </div>
              </ng-container>
            </div>
          </div>

          <img [src]="message.avatar" alt=" Avatar" />

          <div *ngIf="!(isEditing && editingMessageId === i)" class="content-container">
            <div class="message-header gap-20">
              <b class="font-size-18">{{ message.name }}</b>
              <span class="font-size-14">{{ message.time }} Uhr</span>
            </div>
            <div
              class="message-main"
              [ngClass]="{
                'medium-purple': message.name == this.userService.user?.displayName,
                'bg-purple': message.name !== this.userService.user?.displayName
              }"
            >
              {{ message.message }}
            </div>
            <div class="message-footer gap-20">
              <span (click)="toggleThread()">2 Antworten</span>
              <span class="font-size-14">Letzte Antwort 14.26 Uhr</span>

              <div class="emoji-container">
                <ng-container
                  *ngFor="
                    let emoji of showAllReactions
                      ? uniqueEmojis(message.reaction)
                      : (uniqueEmojis(message.reaction) | slice : 0 : (isMobile ? 2 : 20))
                  "
                >
                  <div class="emoji-box">
                    <img [src]="'img/emojis/' + emoji.emoji + '.png'" alt="{{ emoji }}" />
                    <span>{{ countEmoji(emoji, message.reaction) }}</span>
                  </div>
                </ng-container>

                <button
                  class="emoji-box"
                  *ngIf="countUniqueEmojis(message.reaction) > (isMobile ? 2 : 20) && !showAllReactions"
                  (click)="showAllReactions = true"
                >
                  {{ countUniqueEmojis(message.reaction) - (isMobile ? 2 : 20) }} weitere
                </button>
                <button
                  class="emoji-box"
                  *ngIf="message.reaction.length > (isMobile ? 2 : 20) && showAllReactions"
                  (click)="showAllReactions = false"
                >
                  Weniger anzeigen
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="isEditing && editingMessageId === i" class="input-container edit-input full-width">
            <textarea [(ngModel)]="inputEdit" rows="4"></textarea>

            <div class="action-container">
              <button class="hover-to-dark-purple">
                <mat-icon>sentiment_satisfied</mat-icon>
              </button>

              <div class="d-flex gap-32">
                <button class="btn btn-secundary" [disabled]="loading" (click)="cancel()">Abbrechen</button>
                <button class="btn btn-primary" [disabled]="loading" (click)="updateMessage(message)">Speichern</button>
              </div>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>

    <section class="card-footer">
      <div class="input-container">
        <textarea [(ngModel)]="input" rows="4" placeholder="Nachricht an #{{ currentChannel?.name }}"></textarea>

        <div class="action-container">
          <div class="gap-10">
            <button class="hover-to-dark-purple">
              <mat-icon>sentiment_satisfied</mat-icon>
            </button>
            <button class="hover-to-dark-purple">
              <mat-icon>alternate_email</mat-icon>
            </button>
          </div>
          <button [disabled]="loading" (click)="newMessage()">
            <mat-icon class="hover-dark-purple-to-medium">send</mat-icon>
          </button>
        </div>
      </div>
    </section>
  </div>
</main>
