main {
  display: flex;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  margin: 16px;
  flex: 1;
  max-height: calc(100svh - 147px);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 25px;
  position: relative;
  font-size: 24px;
  font-weight: 700;

  ::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    background: linear-gradient(to bottom, rgba(1, 1, 1, 0.04), rgba(1, 1, 1, 0));
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-color);
    &:hover {
      svg {
        height: 21px;
        width: 25px;
        transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
        path {
          fill: var(--dark-purple-text);
        }
      }
    }
  }

  span {
    font-size: 20px;
    font-weight: 600;
  }
}
.avatar-container {
  display: flex;
  position: relative;
  height: 50px;
  align-items: center;
  width: 142px;
  border-radius: 30px;
  cursor: pointer;
  &:hover {
    background-color: var(--bg-color);
    span {
      color: var(--dark-purple-text);
    }
  }
  img {
    // position: absolute;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid white;
  }

  img:nth-child(1) {
    // left: -110px;
    transform: translateX(10px);
    z-index: 1;
  }

  img:nth-child(2) {
    // left: -75px;

    z-index: 2;
  }

  img:nth-child(3) {
    transform: translateX(-10px);

    // left: -40px;
    z-index: 3;
  }
}

.chat-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px 0;
  height: 100%;
}

.card-footer {
  padding: 25px;
}

.input-container {
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--light-purple);
  border-radius: 20px;
  padding: 20px;
  transition: all 0.125s ease-in-out;

  &:hover {
    outline: 1px solid var(--medium-purple);
  }
  &:has(textarea:focus-visible) {
    outline: 1px solid var(--dark-purple);
  }
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  .reaction-menu {
    border-radius: 25px 25px 25px 0;
    left: 20px;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul {
    position: absolute;
    bottom: 44px;
    left: 53px;
    border: 1px solid var(--light-purple);
    border-radius: 25px 25px 25px 0;
    max-height: 250px;
    overflow-y: auto;
    background-color: white;
    padding: 8px;
  }

  li {
    list-style: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    &:hover {
      background-color: var(--bg-color);
    }
  }

  .userCircle {
    position: relative;

    .profilephoto {
      width: 40px;
      border-radius: 50%;
    }

    .status-dot {
      position: absolute;
      bottom: 0;
      right: -2px;
      width: 12px;
      height: 12px;
      border: solid;
      background-color: gray;
      border-radius: 50%;
      border-color: #eceefe;
      border-width: 2px;
    }

    .green {
      background-color: #92c83e;
    }
  }
}

textarea {
  border: none;
  resize: none;
  background: transparent;
  &::-webkit-resizer {
    display: none;
  }

  &:focus-visible {
    outline: none;
  }
}

li {
  padding: 20px;
  > .date-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;

    &::before,
    &::after {
      content: "";
      flex-grow: 1;
      height: 1px;
      background: var(--light-purple);
    }
    > .date {
      border: 1px solid var(--light-purple);
      border-radius: 30px;
      padding: 5px 15px;
    }
  }
}

.message {
  display: flex;
  gap: 24px;
  text-align: justify;
  transition: all 0.125s ease-in-out;
  position: relative;

  .reaction-bar {
    display: none;
    position: absolute;
    top: -15px;
    right: 20px;
    background-color: white;
    border: 1px solid var(--light-purple);
    border-radius: 25px 25px 0 25px;
    padding: 3px 15px;
    width: max-content;

    > button {
      padding: 10px;
      border-radius: 50%;
      position: relative;
    }
    .menu {
      position: absolute;
      left: 243px;
      top: 20px;
      border-radius: 0 30px 30px 30px;
      padding: 10px 20px;
      background-color: white;

      button {
        padding: 10px 20px;
        border-radius: 25px;
        font-size: 24px;
        cursor: pointer;

        &:hover {
          background-color: var(--bg-color);
          scale: 1.02;
        }
      }
    }

    .reaction-menu {
      right: 88px;
      bottom: 40px;
    }
  }

  > img {
    height: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .content-container {
    flex-direction: column;
    gap: 8px;
    max-width: 80%;
  }

  .content-container,
  .message-header,
  .content-main,
  .message-footer {
    display: flex;
  }

  .message-header {
    align-items: center;
    span {
      color: var(--text-grey);
    }
  }

  .message-main {
    padding: 15px;
    border-radius: 0 30px 30px 30px;
    transition: all 0.125s ease-in-out;
    background-color: var(--bg-color);
  }

  &:hover,
  .reaction-menu:hover {
    background-color: var(--bg-color);
    .reaction-bar {
      animation: slide-in-l-r 0.125s forwards;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    .message-main {
      background-color: white;
    }
  }
}

.message-footer {
  display: flex;
  align-items: center;
  white-space: nowrap;

  > span:first-child {
    transition: all 0.125s ease-in-out;
    &:hover {
      scale: 1.1;
      cursor: pointer;
    }
  }
  .reaction-menu {
    right: 20px;
  }

  .emoji-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    position: relative;
  }

  .emoji-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    border: 1px solid var(--light-purple);
    border-radius: 20px;
    cursor: pointer;
  }
}

.reaction-menu {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 200px;
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  flex-wrap: wrap;
  z-index: 10;
  margin-top: 20px;
  padding: 8px;
  border: 1px solid var(--light-purple);
  background-color: white;
  border-radius: 25px 25px 0 25px;
  > .emoji {
    padding: 8px;
    border-radius: 50%;
    transition: all 0.125s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--bg-color) !important;
    }
  }

  &:hover {
    background-color: white !important;
  }
}

.medium-purple {
  background-color: var(--medium-purple) !important;
}

.medium-purple-hover {
  &:hover {
    background-color: var(--medium-purple) !important;
  }
}

.message.reverse {
  .reaction-bar {
    animation: slide-in-r-l 0.125s forwards;
    left: 20px;
    .reaction-menu {
      left: 140px;
      border-radius: 25px 25px 25px 0;
    }
  }

  .message-footer,
  .content-main,
  .content-container {
    justify-content: flex-end;
    text-align: end;
  }
  .message-main {
    border-radius: 30px 0 30px 30px;
    background-color: var(--medium-purple);
  }

  &:hover .message-main {
    background-color: white;
  }
}

.edit-input {
  background-color: white;
}

.reverse {
  flex-direction: row-reverse;
}

.full-width {
  width: 100%;
}

.btn {
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 50px;
  transition: all 0.125s ease-in-out;
  font-weight: 700;
}

.btn-secundary {
  outline: solid 1px var(--medium-purple) !important;
  &:hover {
    outline: 1px solid white;
    background-color: var(--medium-purple);
    color: white;
  }
}

.btn-primary {
  transition: all 0.125s ease-in-out;
  background-color: var(--medium-purple);
  color: white;

  &:hover {
    outline: solid 1px var(--medium-purple) !important;
    color: black;
    background-color: white;
  }
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.justify-sb {
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}
.gap-10 {
  gap: 10px;
}

.gap-32 {
  gap: 32px;
}

button {
  border: none;
  outline: none;
  background-color: unset;
  white-space: nowrap;
  transition: all, 0.125s ease-in-out;
  cursor: pointer;

  &:disabled {
    mat-icon {
      color: var(--light-purple);
    }
  }
}

@keyframes slide-in-r-l {
  0% {
    transform: translate(10px, 10px);
  }

  50% {
    transform: translate(5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-in-l-r {
  0% {
    transform: translate(-10px, 10px);
  }

  50% {
    transform: translate(-5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bg-color);
  padding: 15px;

  img {
    width: 50px;
    height: 50px;
    &:last-child {
      border-radius: 50%;
    }
  }
}

@media (max-width: 430px) {
  .card {
    margin: 0;
    border-radius: 0;
    max-height: calc(100svh - 80px);
  }

  .card-header {
    padding: 10px 16px;
  }
}

@media (max-width: 1023px) {
  .card {
    max-height: calc(100svh - 110px);
  }
}
