<div
  (mouseleave)="reactionMenuOpenInTextarea = false; listOpen = false"
  (click)="listOpen = false; reactionMenuOpenInTextarea = false"
  class="input-container"
>
  <textarea
    (keyup.enter)="newMessage()"
    (input)="observeInput()"
    [(ngModel)]="input"
    rows="3"
    [name]="input"
    [placeholder]="placeholderText"
  ></textarea>

  <div class="action-container justify-sb">
    <div class="gap-10">
      @if (isChannelComponent) {
      <button class="btn" (click)="reactionMenuOpenInTextarea = !reactionMenuOpenInTextarea; listOpen = false; $event.stopPropagation()">
        <mat-icon>sentiment_satisfied</mat-icon>
      </button>
      }

      <button class="btn" (click)="getList('@'); $event.stopPropagation()">
        <mat-icon>alternate_email</mat-icon>
      </button>
      <button class="btn" (click)="getList('#'); $event.stopPropagation()">
        <mat-icon>tag</mat-icon>
      </button>
    </div>
    <button class="btn btn-send" [disabled]="input.trim() == ''" (click)="newMessage()">
      <mat-icon>send</mat-icon>
    </button>

    @if (listOpen) {
    <div class="tag-container">
      <ul>
        @for (element of currentList; track $index;) {
        <li (click)="tagReciver(element, isChannel ? '#' : '@')">
          @if (isChannel) {
          <div><mat-icon>tag</mat-icon></div>
          } @else {
          <div class="userCircle">
            <img class="profilephoto" src="{{ element?.profilephoto }}" alt="" />
            <div class="status-dot" [ngClass]="{ green: element?.online }"></div>
          </div>
          }
          {{ element.fullname || element.data.name }}
        </li>
        }
      </ul>
    </div>
    } @if (reactionMenuOpenInTextarea) {
    <div class="reaction-menu">
      <div class="scroll-container">
        @for (emoji of emojis; track $index) {
        <span (click)="addEmoji(emoji); reactionMenuOpenInTextarea = false" class="emoji">
          {{ emoji }}
        </span>
        }
      </div>
    </div>
    }
  </div>
</div>
