.input-container {
  display: flex;
  flex-direction: column;
  height: 145px;
  outline: 1px solid var(--light-purple);
  border-radius: 20px;
  padding: 20px;
  transition: all 0.125s ease-in-out;

  &:hover {
    outline: 1px solid var(--medium-purple);
  }
  &:has(textarea:focus-visible) {
    outline: 1px solid var(--dark-purple);
  }
}

.action-container {
  display: flex;
  align-items: center;
  position: relative;

  .reaction-menu {
    border-radius: 25px 25px 25px 0;
    left: 20px;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul {
    position: absolute;
    bottom: 44px;
    left: 53px;
    border: 1px solid var(--light-purple);
    border-radius: 25px 25px 25px 0;
    max-height: 250px;
    overflow-y: auto;
    background-color: white;
    padding: 8px;
  }

  li {
    list-style: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    &:hover {
      background-color: var(--bg-color);
    }
  }

  .userCircle {
    position: relative;

    .profilephoto {
      width: 40px;
      border-radius: 50%;
    }

    .status-dot {
      position: absolute;
      bottom: 0;
      right: -2px;
      width: 12px;
      height: 12px;
      border: solid;
      background-color: gray;
      border-radius: 50%;
      border-color: #eceefe;
      border-width: 2px;
    }

    .green {
      background-color: #92c83e;
    }
  }
}

button {
  border: none;
  outline: none;
  background-color: unset;
  white-space: nowrap;
  transition: all, 0.125s ease-in-out;
  cursor: pointer;

  &:disabled {
    mat-icon {
      color: var(--light-purple);
    }
  }
}

.reaction-menu {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 200px;
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  flex-wrap: wrap;
  z-index: 10;
  margin-top: 20px;
  padding: 8px;
  border: 1px solid var(--light-purple);
  background-color: white;
  border-radius: 25px 25px 0 25px;
  > .emoji {
    padding: 8px;
    border-radius: 50%;
    transition: all 0.125s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--bg-color) !important;
    }
  }

  &:hover {
    background-color: white !important;
  }
}
