:host {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.card-header {
  display: flex;
}

.card {
  margin: 0 2rem 2rem;
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 1920px;
  border-radius: 30px;
  background-color: #ffffff;
  flex-direction: column;
  padding: 48px 50px;
  overflow: hidden;
  text-align: justify;
}
