<app-header></app-header>
<section class="card">
  <div class="card-header">
    <button appButton variant="icon" type="button" (click)="goBack()">
      <img src="img/arrow_back.png" alt="Zurück" />
    </button>
    <h1>Impressum</h1>
  </div>

  <main>
    <address>
      <p>
        Eugen Ferchow, Ioannis Karakasidis, Marc Schaar<br />
        Brehmstraße 11<br />
        40239 Düsseldorf
      </p>

      <h2>Kontakt:</h2>
      Email: <a href="mailto:{{ contactEmail }}">{{ contactEmail }}</a>
    </address>
  </main>
</section>
