<div class="main">
    <div class="channel-header">
        <div class="chanelname-cont">
            <div class="hash">#</div>
            <div class="channelname">Channelname</div>
        </div>
        <div>
            <img src="img/close.png" alt="">
        </div>
    </div>
    <div class="channelname-edit-cont">
        <div class="channelname-header">
            <div class="channelname-headline">Channel-Name</div>
            <div class="nameedit-btn">Bearbeiten</div>
        </div>
        <div class="hash-channelname">
            <div class="small-hash"></div>
            <div class="small-channelname"></div>
        </div>
        <div *ngIf="channelnameEdit">
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="channeldescription-cont">

    </div>
    <div class="exit-channel-cont">
        <div class="exit-btn">
            Channel verlassen
        </div>
    </div>
</div>