// .intro {
//   max-width: 1920px;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   > div:nth-child(1) {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 24px 0 20px 0;
//     height: 184px;
//     opacity: unset;
//     margin-left: unset !important;
//     @media (min-width: 969px) {
//       animation: goup 1500ms ease-in-out 1500ms 1 normal forwards;
//     }
//     @media (max-width: 968px) {
//       animation: goupresponsive 1500ms ease-in-out 1500ms 1 normal forwards;
//     }
//     > div:nth-child(1) {
//       z-index: 1;
//       position: relative;
//       background-color: #5f66ee;
//       display: flex;
//       align-items: center;
//       > div:nth-child(1) {
//         position: absolute;
//         background-color: #5f66ee;
//         z-index: 1;
//         margin-left: unset !important;
//         @media (min-width: 969px) {
//           animation: getssmaller 4000ms ease-in-out 500ms 1 normal forwards;
//         }
//         @media (max-width: 968px) {
//           height: 70px;
//         }
//         > img:nth-child(1) {
//           height: 100%;
//         }
//       }

//       > div:nth-child(2) {
//         font-size: 38px;
//         color: white;
//         font-family: "Nunito";
//         max-width: 350px;
//         z-index: 0;
//         @media (min-width: 969px) {
//           animation: turnright 2000ms ease-in-out 0ms 1 normal forwards, turnleft 1000ms ease-in-out 2200ms 1 normal forwards;
//         }
//         @media (max-width: 968px) {
//           font-size: 25px;
//           animation: turnrightmobile 2000ms ease-in-out 0ms 1 normal forwards;
//         }
//       }
//     }
//   }
// }

// @keyframes turnright {
//   0% {
//     transform: translateX(0, 0);
//   }
//   100% {
//     transform: translateX(200px);
//   }
// }

// @keyframes turnrightmobile {
//   0% {
//     transform: translateX(0, 0);
//   }
//   100% {
//     transform: translateX(80px);
//   }
// }

// @keyframes turnleft {
//   0% {
//     transform: translateX(200px);
//   }
//   100% {
//     transform: translateX(90px);
//   }
// }

// @keyframes showtext {
//   0% {
//     z-index: 0;
//   }
//   100% {
//     z-index: 2;
//   }
// }

// @keyframes goup {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     transform: translate(-52rem, -46.2vh);
//   }
// }

// @keyframes getssmaller {
//   0% {
//     height: unset;
//   }
//   100% {
//     height: 70px;
//   }
// }

// @keyframes getssmallermobile {
//   0% {
//     height: unset;
//   }
//   100% {
//     height: 60px;
//   }
// }

// @keyframes goupresponsive {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     transform: translate(-3rem, -42vh);
//   }
// }

.main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(1.46deg, #313ae6 1.22%, #797ef3 98.76%) !important;
  opacity: 1;
  animation: changeOpacity 1000ms ease-in-out 3000ms 1 normal forwards;
  .intro {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 188px;
    height: 184px;
    transform: translate(-50%, -50%);
    animation: moveLogo 500ms ease-in-out 3000ms 1 normal forwards;
    @media (max-width: 392px) {
      animation: moveLogoMobile 500ms ease-in-out 3000ms 1 normal forwards;
    }
    .logo-img {
      animation: moveSide 500ms ease-in-out 1000ms 1 normal forwards;
      img {
      animation: changeSize 500ms ease-in-out 3000ms 1 normal forwards;
      }
    }
    .help-cont {
      position: absolute;
      .project-name {
        position: absolute;
        overflow: hidden;
        transform: translateY(-50%);
        left: 130px;
        height: 70px;
        animation: encrease 500ms ease-in-out 1800ms 1 normal forwards;
        span {
          position: inherit;
          color: white;
          font-size: 44px;
          right: 200px;
          animation: showName 1000ms ease-in-out 100ms 1 normal forwards;
        }
      }
    }
  }
}

.d-none {
  display: none;
}

@keyframes showName {
  0% {
    right: 200px;
  }
  100% {
    right: 0px;
  }
}

@keyframes moveLogo {
  0% {
    top: 50%;
    left: 50%;

  }
  100% {
    top: 70px;
    left: 150px;  
  }
}

@keyframes moveLogoMobile {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 70px; 
   }
}

@keyframes moveSide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes encrease {
  0% {
    width: 0px;
  }
  100% {
    width: 190px;
  }
}

@keyframes changeSize {
  0% {
    width: 188px;
    height: 184px;
  }
  100% {
    width: 77px;
    height: 77px;
  }
}

@keyframes changeOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}