main {
  display: flex;
  height: 100%;
  margin-left: 1em;
}

.thread-channel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  .channel-name-container {
    margin-left: 8px;
    font-size: 14px;
    color: var(--medium-purple);
  }
}

.thread-container {
  p {
    font-weight: 700;
    font-size: 24px;
  }
}

.answers-line-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  font-size: 18px;
  color: var(--light-purple);

  .line-container {
    height: 1px;
    flex: 1;
    margin: 0 24px 0 20px;
    background-color: var(--bg-color);
  }
}

.chatbox-container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  li {
    list-style: none;
    margin-top: 20px;
  }
}

button {
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.125s ease-in-out;

  &:disabled {
    mat-icon {
      color: var(--light-purple);
    }
  }
}

h3 {
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}

.position-relative {
  position: relative;
}

@media (max-width: 1023px) {
  main {
    margin: 0;
  }
}
