<div class="card">
  <header class="headline">
    <app-button variant="plain" type="button" ariaLabel="Schließen" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </app-button>
    <h1>Wähle deinen Avatar</h1>
  </header>

  <img class="profile-img" [src]="selectedAvatar()" alt="Avatar Bild" />
  <p class="name">{{ data?.user?.displayName }}</p>

  <p class="align-base">Aus der Liste wählen</p>
  <app-avatar-picker [(selected)]="selectedAvatar"></app-avatar-picker>
  <app-button variant="plain" type="button" (click)="onSave()">Weiter</app-button>
</div>
