<main>
  <header class="header">
    <a routerLink="/login">
      <img src="img/arrow_back.png" alt="Zurück zum Login" />
    </a>

    <div class="headline">
      <h1>Konto erstellen</h1>
      <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
    </div>
  </header>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <section>
      <app-input
        appearance="filled"
        icon="person"
        name="displayName"
        type="text"
        formControlName="displayName"
        placeholder="Name und Nachname"
        ariaLabel="Name und Nachname"
        [invalid]="!!getDisplayNameError()"
        [errorMessage]="getDisplayNameError()"
      />
    </section>

    <section>
      <app-input
        appearance="filled"
        icon="mail"
        name="email"
        type="email"
        formControlName="email"
        placeholder="beispielname@email.com"
        ariaLabel="E-Mail-Adresse"
        [invalid]="!!getEmailError()"
        [errorMessage]="getEmailError()"
      />
    </section>

    <section>
      <app-input
        appearance="filled"
        icon="lock"
        name="password"
        type="password"
        formControlName="password"
        placeholder="Passwort"
        ariaLabel="Passwort"
        [invalid]="!!getPasswordError()"
        [errorMessage]="getPasswordError()"
      />
    </section>

    <section class="legal-text">
      <label class="checkbox">
        <input formControlName="acceptTerms" type="checkbox" />
        <span>Ich stimme der<a routerLink="/Dataprotection"> Datenschutzerklärung </a>zu.</span>
      </label>
    </section>
    @if (registerForm.get("acceptTerms")?.invalid && (registerForm.get("acceptTerms")?.touched || registerForm.get("acceptTerms")?.dirty)) {
      <span class="error"> agbs zustimmer.</span>
    }
    <app-button variant="plain" type="submit">Weiter</app-button>
  </form>
</main>
