<main>
  <header class="header">
    <a routerLink="/login">
      <img src="img/arrow_back.png" alt="" />
    </a>

    <div class="headline">
      <h1>Konto erstellen</h1>
      <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
    </div>
  </header>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <section>
      <div class="box">
        <mat-icon class="material-symbols-outlined">person</mat-icon>
        <input name="displayName" type="text" formControlName="displayName" placeholder="Name und Nachname" />
      </div>
      @if (registerForm.get("displayName")?.invalid && (registerForm.get("displayName")?.touched || registerForm.get("fullname")?.dirty)) {
        <span class="error">Bitte schreiben Sie einen Namen. Mindestens 5 Zeichen</span>
      }
    </section>

    <section>
      <div class="box">
        <mat-icon class="material-symbols-outlined">mail</mat-icon>
        <input name="email" type="email" formControlName="email" placeholder="beispielname@email.com" />
      </div>
      @if (registerForm.get("email")?.invalid && (registerForm.get("email")?.touched || registerForm.get("email")?.dirty)) {
        <span class="error">*Diese E-Mail-Adresse ist leider ungültig.</span>
      }
    </section>

    <section>
      <div class="box">
        <mat-icon class="material-symbols-outlined">lock</mat-icon>
        <input name="password" type="password" formControlName="password" placeholder="Passwort" />
      </div>
      @if (registerForm.get("password")?.invalid && (registerForm.get("password")?.touched || registerForm.get("password")?.dirty)) {
        <span class="error"
          >Bitte geben Sie ein Passwort ein. Es muss mindestens 8 Zeichen lang sein, einen Großbuchstaben, einen Kleinbuchstaben und eine
          Zahl enthalten.</span
        >
      }
    </section>

    <section class="legal-text">
      <label class="checkbox">
        <input formControlName="acceptTerms" type="checkbox" />
      </label>
      <span>Ich stimme der<a routerLink="/Dataprotection"> Datenschutzerklärung </a>zu.</span>
    </section>
    @if (registerForm.get("acceptTerms")?.invalid && (registerForm.get("acceptTerms")?.touched || registerForm.get("acceptTerms")?.dirty)) {
      <span class="error"> agbs zustimmer.</span>
    }
    <button type="submit">Weiter</button>
  </form>
</main>
