<div #mainDialog class="main">
    <div class="channel-header">
      <div class="chanelname-cont">
        <div class="hash">#</div>
        <div class="channelname">{{this.currentChannel.name}}</div>
      </div>
      <div (click)="close()">
        <img src="img/close.svg" alt="" />
      </div>
    </div>
    <div
      class="channelname-edit-cont"
      id="channelname-edit-cont"
      [ngClass]="{ 'change-name-edit-cont': channelnameEdit }"
    >
      <div class="channelname-header">
        <div class="channelname-headline">Channel-Name</div>
        <div class="nameedit-btn" (click)="editChannelName('editName')">
          <span *ngIf="!channelnameEdit">Bearbeiten</span>
          <span *ngIf="channelnameEdit">Speichern</span>
        </div>
      </div>
      <div class="hash-channelname" *ngIf="!channelnameEdit">
        <div class="small-hash">#</div>
        <div class="small-channelname">{{currentChannel.name}}</div>
      </div>
      <div *ngIf="channelnameEdit" class="input-name-cont">
        <input type="text" name="" value="{{currentChannel.name}}" id="changeNameInput" placeholder="Channelname" />
      </div>
    </div>

    <div
      class="channeldescription-cont"
      [ngClass]="{ 'change-name-edit-cont': channeldescriptionEdit }"
    >
      <div class="channelname-header">
        <div class="channelname-headline">Beschreibung</div>
        <div class="nameedit-btn" (click)="editChannelName('editDescription')">
          <span *ngIf="!channeldescriptionEdit">Bearbeiten</span>
          <span *ngIf="channeldescriptionEdit">Speichern</span>
        </div>
      </div>
      <div class="description-text" *ngIf="!channeldescriptionEdit">
        <span
          >{{currentChannel.description}}</span
        >
      </div>
      <textarea
        class="textarea-des"
        (input)="adjustTextareaHeight($event)"
        name=""
        id="changeDescriptionInput"
        *ngIf="channeldescriptionEdit"
        value="{{currentChannel.description}}"
      ></textarea>
      <div class="line"></div>
      <div class="channelname-headline">Erstellt von</div>
      <div class="creator-name" id="creatorName">{{currentChannel.creator}}</div>
    </div>
    <div class="mobile-member-list">
      <div class="member-headline">Mitglieder</div>
      <div class="member-list">
        <div class="member-cont" *ngFor="let member of currentChannel.member; let i = index">
          <div class="member">
            <div class="member-img">
              <img [src]="member.profilephoto" alt=""/>
              <div class="status-dot" [ngClass]="{ green: member.online }"></div>
            </div>
            <div class="member-name">{{member.fullname}}</div>

          </div>
        </div>

      </div>

    </div>
    <div class="exit-channel-cont" (click)="exitChannel()">
      <div class="exit-btn">Channel verlassen</div>
    </div>
  </div>
