<main>
  <section>
    <app-header *ngIf="this.userService.isMobile"></app-header>
    <div class="headline">
      <div>
        <img src="/img/workspace-logo.svg" alt="" />
        <h1>Devspace</h1>
      </div>
      <button (click)="openWindow('chat'); this.userService.setUrl('default')">
        <img src="/img/edit_square.svg" alt="" />
      </button>
    </div>

    @if (isClicked) {
    <div class="justify-sb full-width p-lr-16">
      <h2>Search</h2>
      <button (click)="isClicked = false; resetSearch(); resetInput()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    } @if(this.userService.isMobile){
    <div class="searchbar">
      <div class="input" *ngIf="!userService.login && userService.dashboard">
        <input
          (click)="isClicked = true; input = '@'"
          [(ngModel)]="input"
          (input)="getList()"
          type="text"
          placeholder="Gehe zu ..."
          class="full-width"
        />
        <mat-icon>search</mat-icon>
      </div>

      @if (currentlist.length>0 && input.trim().length >0 && (input[0]== "#" || input[0] =="@")) {
      <ul class="lists">
        @for (object of currentlist; track $index; let index =$index) {
        <li (click)="getReciever(index)" [ngClass]="{ channelStyle: isChannel }" class="listrow">
          @if (!isChannel) {
          <div class="imageContainer">
            <img [src]="object?.profilephoto" alt="" />
            <div class="status-dot" [ngClass]="{ green: object?.online }"></div>
          </div>
          }@else { <img class="tag" src="./img/tag.svg" alt="" />}
          <span>{{ object?.fullname || object?.name }}</span>
          @if (object?.fullname === currentUser?.displayName) {
          <span>(Du)</span>
          }
        </li>
        }
      </ul>
      }
    </div>

    } @if (!isClicked) {
    <div class="contactbar">
      <div class="channels">
        <div class="channelbar">
          <div class="curser-pointer" (click)="toggleActive()">
            <img [ngClass]="{ rotate: isActive() }" class="image-down" src="./img/arrow_drop_down-1.svg" alt="" />
            <div>
              <img src="./img/workspaces_black.svg" alt="" />
              <span>Channels</span>
            </div>
          </div>
          <button class="addButton" (click)="openAddChannel()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <ul [ngClass]="{ show: isActive() }" class="channellist">
          @for (channel of channels; track $index; let index = $index) {
          <li
            class="channelrow"
            (click)="openWindow('channel'); openChannel(index); this.userService.setUrl('channel', channel.id, currentUser.id)"
          >
            <img src="/img/tag.svg" alt="" />
            <span>{{ channel.name }}</span>
          </li>
          } @empty {No Channel found}
        </ul>

        <button class="addChannel" (click)="openAddChannel()">
          <mat-icon class="material-symbols-outlined">add_circle</mat-icon>
          <span>Channel hinzufügen</span>
        </button>
      </div>

      <div class="messages">
        <div class="messagebar">
          <div class="curser-pointer" (click)="toggleMessage()">
            <img class="image-down" [ngClass]="{ rotate: isOpen() }" src="/img/arrow_drop_down-1.svg" alt="" />
            <div>
              <img src="/img/account_circle.svg" alt="" />
              <span>Direktnachrichten</span>
            </div>
          </div>
        </div>

        <ul [ngClass]="{ show: isOpen() }" class="contacts">
          @for (user of users; track $index; let index = $index) {
          <li
            (click)="openWindow('chat'); openPersonalChat(index); this.userService.setUrl('direct', this.currentUser.id, user.id)"
            class="contactsrow"
          >
            <div class="imageContainer">
              <img class="profile-image" [src]="user.profilephoto" alt="" />
              <div class="status-dot" [ngClass]="{ green: user.online }"></div>
            </div>

            <span>{{ user.fullname }}</span>
          </li>
          }@empty {No User found}
        </ul>
      </div>
    </div>
    }
  </section>

  <button class="add-message-btn-mobile" (click)="openWindow('chat'); this.userService.setUrl('default')">
    <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
  </button>
</main>

<app-add-channel *ngIf="addChannelWindow" [(addChannelWindow)]="addChannelWindow"></app-add-channel>
