<div class="dialog-container">
  <header class="channel-header">
    # {{ channelService.currentChannel()?.name }}
    <app-button variant="plain" ariaLabel="Schließen" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </app-button>
  </header>

  <main class="main" (click)="closeUserBar()">
    <section class="box" id="channelname-edit-cont" [ngClass]="{ 'change-name-edit-cont': channelNameEdit }">
      <div class="box--header">
        Channel-Name
        <app-button variant="plain" class="save-btn" (click)="onEditChannelName()">{{ channelNameEdit ? "Speichern" : "Bearbeiten" }}</app-button>
      </div>
      @if (channelNameEdit) {
        <app-input
          prefixText="#"
          type="text"
          name="channelname-input"
          ariaLabel="Channelname"
          [(ngModel)]="tempName"
          placeholder="Channelname"
          (keyup.enter)="onEditChannelName()"
        />
      } @else {
        <div># {{ channelService.currentChannel()?.name }}</div>
      }
    </section>

    <section class="box" [ngClass]="{ 'change-name-edit-cont': channelDescriptionEdit }">
      <div class="box--header">
        Beschreibung
        <app-button variant="plain" class="save-btn" (click)="onEditChannelDescription()">
          {{ !channelDescriptionEdit ? "Bearbeiten" : "Speichern" }}
        </app-button>
      </div>

      @if (channelDescriptionEdit) {
        <app-input
          multiline
          name=""
          id="changeDescriptionInput"
          ariaLabel="Beschreibung"
          [(ngModel)]="tempDescription"
          (keyup.enter)="onEditChannelDescription()"
        />
      } @else {
        <div class="content--description">
          {{ channelService.currentChannel()?.description || "Keine Beschreibung vorhanden" }}
        </div>
      }

      <div class="line"></div>
      <div class="creator">
        Erstellt von
        <div class="creator--name">
          {{ channelService.currentChannel()?.createdBy }}
        </div>
      </div>
    </section>

    <section class="box box--list">
      <div class="box--header">Mitglieder</div>

      <ul class="member-list">
        @for (member of channelService.enrichedMembers(); track $index) {
          <li (click)="openProfileDialog(member)" class="member-list--item">
            <app-user-list-item [user]="member"></app-user-list-item>
          </li>
        }

        <app-button
          variant="plain"
          (click)="toogleAddMemberState()"
          class="add-member-mobile-btn member-list--item"
        >
          <mat-icon class="material-symbols-outlined">person_add</mat-icon>
          Mitglieder hinzufügen
        </app-button>
      </ul>
    </section>

    <section class="tooltip" [ngClass]="{ tooltip__open: isAddMemberOpen }">
      <div class="tooltip--line"></div>

      <header class="tooltip--header">
        Leute hinzufügen
        <app-button variant="plain" ariaLabel="Schließen" (click)="toogleAddMemberState()">
          <mat-icon>close</mat-icon>
        </app-button>
      </header>

      @for (user of channelService.selectedUsers(); track user.id) {
        <div class="mini-profile-cont">
          <img class="user-img-mini" [src]="user.photoUrl" alt="" />
          {{ user.displayName }}
          <app-button
            variant="icon"
            [ariaLabel]="'Entfernen: ' + user.displayName"
            (click)="removeSelectedUser($index)"
          >
            <mat-icon>close</mat-icon>
          </app-button>
        </div>
      }

      <div class="input-wrapper">
        <app-input
          ariaLabel="Name eingeben"
          [ngModel]="channelService.userSearchQuery()"
          (ngModelChange)="channelService.userSearchQuery.set($event)"
          (input)="onSearchInput($event)"
          (click)="openUserBar(); $event.stopPropagation()"
          placeholder="Name eingeben..."
        />
        @if (showUserBar) {
          <ul class="choose-user-bar" #chooseUserBar>
            @for (user of channelService.filteredUsers(); track user.id; let i = $index) {
              <li class="user-select-cont" (click)="addUserToSelection(user)">
                <app-user-list-item [user]="user"></app-user-list-item>
              </li>
            } @empty {
              <li>Keine Nutzer verfügbar</li>
            }
          </ul>
        }
      </div>

      <app-button variant="primary" class="submit-btn" [disabled]="!channelService.canSubmit()" (click)="onSubmit()">Hinzufügen</app-button>
    </section>

    <app-button variant="primary" class="exit-btn" (click)="leaveChannel()">Channel verlassen</app-button>

    @if (isAddMemberOpen) {
      <div class="custom-backdrop" (click)="toogleAddMemberState()"></div>
    }
  </main>
</div>
