main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  align-items: center;
  justify-items: center;
  height: 100svh;

  @media (width < 1024px) {
    grid-template-rows: repeat(4, auto);
    padding: 0 1.5rem;
    overflow-y: auto;

    ::ng-deep app-header header {
      grid-template-columns: 1fr !important;
      justify-items: center;
    }
  }
}

.auth-card {
  width: clamp(200px, 100%, 800px);
  padding: 20px;
  border-radius: 30px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

  @media (width > 500px) {
    padding: 30px;
  }
}

app-intro {
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
