.footer {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  a {
    font-weight: 400;
    color: var(--medium-purple);
    padding: 10px 15px;
    border-radius: 30px;
    transition: all 0.125s ease-in-out;
    outline: 1px solid transparent;
    &:hover {
      outline: 1px solid var(--light-purple);
      color: var(--dark-purple);
    }
  }
}
