.main {
    display: flex;
    flex-direction: column;
    // width: 872px;
    // height: 616px;
    border-radius: 0 30px 30px 30px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    // position: absolute;
    // top: 90px;
    // left: 70px;
    padding: 40px;
    font-family: "Nunito";
    gap: 20px;
    // z-index: 999;
    .exit-channel-cont {
      width: 204px;
      height: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--dark-purple);
      border-radius: 25px;
      color: white;
      font-size: 18px;
      font-weight: 700;
      place-self: end;
      cursor: pointer;
      &:hover {
        background-color: var(--medium-purple);
      }
    }
    .channel-header {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 700;
      align-items: center;
      img {
        cursor: pointer;
      }
      .chanelname-cont {
        display: flex;
        gap: 15px;
        align-items: center;
        .hash {
          font-size: 35px;
        }
      }
    }
    .channelname-edit-cont {
      display: flex;
      flex-direction: column;
      padding: 20px;
      border: 1px solid rgba(173, 176, 217, 1);
      border-radius: 20px;
      gap: 20px;
      transition: padding 0.1s ease-in-out;
      .channelname-header {
        display: flex;
        justify-content: space-between;
        .channelname-headline {
          font-weight: 700;
        }
        .nameedit-btn {
          font-weight: 600;
          color: var(--dark-purple-text);
          cursor: pointer;
          font-size: 18px;
          width: 90px;
          height: 25px;
          &:hover {
            font-weight: 700;
            color: var(--dark-purple);
          }
        }
      }
      .hash-channelname {
        display: flex;
        gap: 10px;
        align-items: center;
        .small-hash {
          font-size: 21px;
        }
        .small-channelname {
          font-size: 18px;
          font-weight: 400px;
        }
      }
    }
  }

.channeldescription-cont {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgba(173, 176, 217, 1);
  border-radius: 20px;
  gap: 20px;
  transition: padding 0.1s ease-in-out;
  .creator-name {
    font-size: 24px;
    font-weight: 400;
    color: rgba(83, 90, 241, 1);
  }
  .line {
    width: 739px;
    border: 1px solid rgba(173, 176, 217, 1);
    place-self: center;
  }
  .channelname-header {
    display: flex;
    justify-content: space-between;
    .nameedit-btn {
      font-weight: 600;
      color: var(--dark-purple-text);
      cursor: pointer;
      font-size: 18px;
      width: 90px;
      height: 25px;
      &:hover {
        font-weight: 700;
        color: var(--dark-purple);
      }
    }
  }
}

.change-name-edit-cont {
  border: 0 !important;
  padding: 0 !important;
}

input,
textarea {
  outline: none;
  box-sizing: border-box;
  border-radius: 30px;
  height: 60px;
  border: 1px solid rgba(173, 176, 217, 1);
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding-left: 50px;
  cursor: pointer;
  &:hover {
    border: 1px solid var(--medium-purple);
  }
  &:focus-visible {
    border: 1px solid var(--dark-purple-text);
  }
}

.textarea-des {
  align-content: center;
  resize: none;
  max-height: 98px;
  padding: 20px;
}

.input-name-cont {
  position: relative;
  cursor: default !important;
  &::before {
    content: "#";
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
    z-index: 1;
    color: rgb(0, 0, 0);
  }
}

.description-text {
  font-size: 18px;
  font-weight: 400;
}

.channelname-headline {
  font-size: 18px;
  font-weight: 700;
}

