<section (click)="hideList()">

    <div class="textField">
        <span class="newText">Neue Nachricht</span>
        <input [(ngModel)]="input" (input)="getCurrentChat()" type="text"
            placeholder="An: #Channel, oder @jemand oder E-Mail-Adresse">
    </div>


 


    <div [ngClass]="{'show': isClicked }" class="lists">
        <div (click)="getReciever(index)" [ngClass]="{'channelStyle': isChannel}" class="listrow" *ngFor="let object of currentList; let index = index">
            <div *ngIf="!isChannel" class="imageContainer">
                <img [src]="object?.profilephoto" alt="">
                <div *ngIf="!isChannel" class="status-dot" [ngClass]="{'green': object?.online}"></div>
            </div>
            <img class="tag" *ngIf="isChannel" src="./img/tag.svg" alt="">
            <div>
                <span>{{ object?.fullname || object?.name }}</span>
            </div>
        </div>
    </div>
    <div class="textContainer">
        <div>
            <textarea (input)="getList()" [(ngModel)]="message" name="" id=""
                placeholder="Nachricht an {{currentReciever?.fullname}}"></textarea>
            <div>
                <div class="left">
                    <button><img class="smiley" src="./img/smiley.svg"
                            alt=""></button>
                    <button (click)="toggleList($event)"><img class="at" src="./img/at.svg" alt=""></button>
                </div>
                <button (click)="sendMessage()" class="right"><img src="./img/send.svg" alt=""></button>
            </div>
        </div>
    </div>

</section>
