<app-header></app-header>
<div class="borderbox">
  <div class="box">
    <div>
      <button routerLink="/">
        <img src="/img/arrow_back.png" alt="" />
      </button>
      <div>
        <h1>Datenschutz</h1>
        <p>Eugen Ferchow,Sascha Borowski,Ioannis Karakasidis,Marc S.,Johannes Roth</p>
        <p>[Address of the DABubble operator - e.g. one of the students]</p>
        <p>[Postcode and city]</p>
      </div>
      <div>
        <h2>Contact:</h2>
        <p>Email: [Dein email]</p>
      </div>
    </div>
  </div>
</div>
