<app-header></app-header>
<div class="box">
    <div class="input">
        <input type="text" placeholder="Devspace durchsuchen" />
        <button><img src="/img/icons.png" alt=""></button>
    </div>
</div>

<div class="content-container">
    <app-contactbar></app-contactbar>

    <mat-drawer-container class="chat-content" autosize>
        <mat-drawer position="end" #drawer class="tread-container" mode="side">
            <div class="placeholder-tread">Hier Tread einfügen</div>
        </mat-drawer>

        <ng-container *ngComponentOutlet="currentComponent"></ng-container>
    </mat-drawer-container>
</div>