@if (this.navigationService.isMobile) {
<app-chat-header></app-chat-header>
}
<main (click)="hideList()">
  <section>
    <div class="textField">
      <span class="newText">Neue Nachricht</span>
      <input
        [(ngModel)]="input"
        (input)="searchService.observeInput(input, 'textarea')"
        type="text"
        placeholder="An: #Channel, oder @jemand oder E-Mail-Adresse"
      />
    </div>

    <div class="card-footer">
      <app-textarea-template></app-textarea-template>
    </div>
  </section>
</main>
