button {
  border: none;
  outline: none;
  background-color: unset;
  white-space: nowrap;
  transition: all, 0.125s ease-in-out;
  cursor: pointer;
  color: black;
}

.emoji-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  position: relative;
}

.emoji-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  outline: 1px solid var(--light-purple);
  border-radius: 20px;
  background-color: white;

  &:hover {
    color: var(--medium-purple);
    outline-color: var(--medium-purple);
    .reaction-from-dialog {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.reaction-from-dialog {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 32px;
  align-items: center;
  background-color: var(--dark-purple);
  border-radius: 30px 30px 30px 0;
  padding: 10px 15px;
  color: white;
  z-index: 10;
  white-space: nowrap;
  font-size: 16px;
}

.reaction-menu {
  position: absolute;
  bottom: 40px;
  left: 94px;
  display: flex;
  justify-content: center;
  gap: 4px;
  width: max-content;
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  flex-wrap: wrap;
  z-index: 10;
  margin-top: 20px;
  padding: 8px;
  border: 1px solid var(--light-purple);
  background-color: white;
  border-radius: 25px 25px 25px 0;
}

:host-context(.message.reverse) .reaction-menu {
  left: -120px;
  border-radius: 25px 25px 0 25px;
}

.btn-secundary {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  outline: none !important;

  &:hover {
    color: var(--dark-purple);
    background-color: var(--bg-color);
  }
}

.circle {
  border-radius: 50%;
}
