<div class="main" [ngClass]="{'change-size': addMemberWindow}">
  <div class="header" *ngIf="!addMemberWindow">
    <div class="member-headline">Mitglieder</div>
    <div class="cross" (click)="closeWindow()">
      <img src="img/close.svg" alt="" />
    </div>
  </div>

  <div class="user-cont" *ngIf="!addMemberWindow">
    <div class="user" *ngFor="let member of members; let i = index">
      <img src="{{ member.profilephoto }}" alt="" />
      <div> {{member.fullname}}</div>
    </div>
  </div>

  <div class="add-member-btn-cont" (click)="changeWindow()" *ngIf="!addMemberWindow">
    <div class="img-cont">
        <img src="img/person_add.png" alt="">
    </div>
    <span>Mitglieder hinzufügen</span>
  </div>

  <div class="header-cont" *ngIf="addMemberWindow">
    <div class="header">
        <div>Leute hinzufügen</div>
        <img (click)="closeWindow()" src="img/close.png" alt="">
    </div>
    <div class="channelname-cont">
        <span>#</span><span>{{currentChannel.name}}</span>
    </div>
  </div>
  <div *ngIf="addMemberWindow">

  </div>
  <div *ngIf="addMemberWindow">

  </div>
</div>
