<main class="main" [ngClass]="{ 'change-size': addMemberWindow }">
  @if (!addMemberWindow) {
    <header class="header">
      Mitglieder
      <button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </header>

    <ul class="user__list">
      @for (member of channelService.enrichedMembers(); track $index) {
        <li (click)="openProfileDialog(member)" class="user__list__item">
          <div class="profile-status">
            <img class="profile-status__image" [src]="member.photoUrl" alt="" />
            <div class="profile-status__dot" [ngClass]="{ 'profile-status__dot--online': member.online }"></div>
          </div>
          <span>
            {{ member.displayName }}
            @if (member.id === authService.currentUser()?.id) {
              (Du)
            }
          </span>
        </li>
      }
    </ul>

    <button class="add-member-btn" (click)="changeWindow()">
      <mat-icon class="material-symbols-outlined">person_add</mat-icon>
      Mitglieder hinzufügen
    </button>
  } @else {
    <header class="header">
      Leute hinzufügen
      <button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </header>

    <div class="channel-name"># {{ channelService.currentChannel().name }}</div>

    <div class="input-wrapper">
      <div class="input-cont">
        <ul class="input-cont__list">
          @for (selectedUser of channelService.selectedUsers(); track selectedUser.id; let index = $index) {
            <li class="mini-profile">
              <img class="mini-profile__img" [src]="selectedUser.photoUrl" alt="" />

              {{ selectedUser.displayName }}

              <img (click)="channelService.removeUserFromSelection(index)" src="img/close.svg" alt="" class="cross-mini" />
            </li>
          }

          @if (this.channelService.filteredUsers().length > 0) {
            <ul class="choose-user-bar user__list">
              @for (user of channelService.filteredUsers(); track user.id; let index = $index) {
                <li class="user__list__item" (click)="addUserToSelection(user)">
                  <div class="profile-status">
                    <img class="profile-status__image" [src]="user.photoUrl" alt="" />
                    <div class="profile-status__dot" [ngClass]="{ 'profile-status__dot--online': user.online }"></div>
                  </div>
                  {{ user.displayName }}
                </li>
              } @empty {
                <p>Kein User hinzufügbar oder bereits alle hinzugefügt</p>
              }
            </ul>
          }
        </ul>
      </div>

      <input
        name=""
        id="user-search-bar"
        [ngModel]="channelService.userSearchQuery()"
        (ngModelChange)="channelService.userSearchQuery.set($event)"
        (input)="onSearchInput($event)"
        (click)="openUserBar(); $event.stopPropagation()"
        [disabled]="channelService.filteredUsers().length === 0 && channelService.userSearchQuery() === ''"
        [placeholder]="
          channelService.allMembersSelected() && channelService.userSearchQuery() === ''
            ? 'Alle verfügbaren Nutzer ausgewählt'
            : 'Name eingeben...'
        "
      />
    </div>

    <button class="submit-btn" [disabled]="!channelService.canSubmit()" (click)="onSubmit()">Hinzufügen</button>
  }
</main>
