.main {
  width: 415px;
  height: 411px;
  border-radius: 30px 0px 30px 30px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 40px;
  z-index: 1050;
  background-color: white;
  gap: 20px;
  display: flex;
  flex-direction: column;
  transition:
    width 0.3s ease-in-out,
    height 0.3s ease-in-out;
  @media (max-width: 1023px) {
    width: 398px;
    padding: 30px 16px;
  }
  @media (max-width: 440px) {
    width: 340px;
  }
  @media (max-width: 380px) {
    width: 280px;
  }
}

.choose-user-bar {
  bottom: 60px;
  max-height: 171px;
  border-radius: 0 30px 30px 30px;
  background-color: white;
  position: absolute;
  border: 1px solid rgba(173, 176, 217, 1);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  padding: 20px 21px;
  overflow-y: auto;
  @media (max-width: 1023px) {
    bottom: 120px;
  }

  .user-select-cont {
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    border-radius: 30px;
    padding: 4px 20px 4px 20px;
    cursor: pointer;
    &:hover {
      background-color: var(--bg-color);
    }
  }
}

.mini-profile {
  display: flex;
  gap: 15px;
  border-radius: 30px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 20px 3px 20px;
  flex: 1;
  white-space: nowrap;

  &__img {
    width: 34px;
    height: 34px;
    border-radius: 100%;
  }
}

///////////
///
.submit-btn {
  margin-top: auto;
  place-self: end;
  color: white;
  background-color: var(--dark-purple);
  border-radius: 25px;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 8px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.user__list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__item {
    align-items: center;
    gap: 15px;
    display: flex;
    padding: 4px 20px;
    border-radius: 100px;
    width: max-content;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-color);
    }
  }
}

.channel-name {
  font-size: 1.25rem;
  color: var(--medium-purple);
  @media (max-width: 1023px) {
    display: none;
  }
}

.add-member-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 4px 20px;
  padding: 4px 12px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.125s ease-in-out;

  &:hover {
    background-color: var(--bg-color);

    mat-icon {
      background-color: white;
    }
  }

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--bg-color);
    transition: background-color 0.2s ease-in-out;
    font-size: 1.25rem;
  }
}

.input-wrapper {
  border-radius: 30px;
  border: 1px solid rgba(173, 176, 217, 1);
  padding: 7.5px 20px 7.5px 20px;

  input {
    outline: none;
    border: none;
    background: unset;
    width: 100%;
    padding: 8px;
  }
}

.input-cont {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  margin-bottom: 12px;
  overflow: hidden;

  &__list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }
}

li {
  list-style: none;
}
button {
  border: unset;
  outline: unset;
  background: unset;
}
