html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use "@angular/material" as mat;

// html {
//   @include mat.theme(
//     (
//       color: (
//         theme-type: light,
//         primary: mat.$azure-palette,
//         tertiary: mat.$blue-palette,
//       ),
//       typography: Roboto,
//       density: 0,
//     )
//   );
// }

@import "aos/dist/aos.css";

// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-VariableFont_wght.ttf") format("woff");
}

app-add-channel {
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-background {
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

// app-intro {
//   background-color: #5f66ee !important;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
// }

app-header {
  display: flex;
  justify-content: center;
  background-color: #eceefe;
}

app-footer {
  width: 100%;
  height: 150px;
  background-color: #eceefe;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
    display: none !important;
  }
}

app-main-chat {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  background: var(--bg-color);
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("woff");
}

:root {
  --bg-color: rgba(236, 238, 254, 1);
  --light-purple: rgba(173, 176, 217, 1);
  --medium-purple: rgba(121, 126, 243, 1);
  --dark-purple: rgba(68, 77, 242, 1);
  --dark-purple-text: rgba(83, 90, 241, 1);
  --blue-email-color: rgba(19, 129, 255, 1);
  --mat-sys-primary: rgba(68, 77, 242, 1); // Material Design
  --text-grey: rgba(104, 104, 104, 1);

  --dark-purple-filter: brightness(0) saturate(100%) invert(37%) sepia(80%) saturate(5262%) hue-rotate(231deg) brightness(94%)
    contrast(102%);
}

.mat-mdc-menu-panel {
  max-width: unset !important;
}

body,
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.menu-box {
  padding: 10px 0 10px 0 !important;
  border-radius: 30px !important;
  padding: 30px !important;
  background-color: #ffffff !important;
  > div:nth-child(1) {
    display: flex !important;
    flex-direction: column !important;
    gap: 15px !important;
    align-items: center !important;
  }
}

.cdk-overlay-pane {
  top: 21px !important;
  position: absolute !important;
}

.menu-box-btn {
  width: 140px !important;
  text-align: center !important;
  &:hover {
    background-color: #eceefe !important;
    border-radius: 30px !important;
  }
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--medium-purple);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-purple);
}

.hover-dark-purple-to-medium {
  transition: all 0.125s ease-in-out;

  color: var(--dark-purple);
  &:hover {
    color: var(--medium-purple);
  }
}

.hover-to-dark-purple {
  transition: all 0.125s ease-in-out;
  padding: 8px;
  border-radius: 50%;

  img {
    transition: all 0.125s ease-in-out;
  }
  &:hover {
    background-color: var(--bg-color);
    mat-icon {
      color: var(--dark-purple);
    }
    img {
      filter: var(--dark-purple-filter);
    }
  }
}

.filter-hover-purple-3 {
  transition: all 0.125s ease-in-out;
  &:hover {
    transition: all 0.125s ease-in-out;
    img {
      filter: brightness(0) saturate(100%) invert(31%) sepia(35%) saturate(6836%) hue-rotate(231deg) brightness(101%) contrast(89%);
    }
  }
}

.bg-purple {
  background-color: var(--bg-color);
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-32 {
  gap: 32px;
}
.d-flex {
  display: flex;
}

.full-width {
  width: 100%;
}

.justify-sb {
  display: flex;
  justify-content: space-between;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.curser-pointer {
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}

.btn {
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 50px;
  transition: all 0.125s ease-in-out;
  font-weight: 700;
}

.btn-secundary {
  outline: solid 1px var(--medium-purple) !important;
  &:hover {
    outline: 1px solid white;
    background-color: var(--medium-purple);
    color: white;
  }
}

.btn-primary {
  transition: all 0.125s ease-in-out;
  background-color: var(--medium-purple);
  color: white;

  &:hover {
    outline: solid 1px var(--medium-purple) !important;
    color: black;
    background-color: white;
  }
}

.mat-drawer.mat-drawer-side {
  z-index: 0;
}

@keyframes slide-in-r-l {
  0% {
    transform: translate(10px, 10px);
  }

  50% {
    transform: translate(5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-in-l-r {
  0% {
    transform: translate(-10px, 10px);
  }

  50% {
    transform: translate(-5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}
