html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use "@angular/material" as mat;

// html {
//   @include mat.theme(
//     (
//       color: (
//         theme-type: light,
//         primary: mat.$azure-palette,
//         tertiary: mat.$blue-palette,
//       ),
//       typography: Roboto,
//       density: 0,
//     )
//   );
// }

@import "aos/dist/aos.css";

// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-VariableFont_wght.ttf") format("woff");
}

app-intro {
  background-color: #5f66ee !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

app-header {
  background-color: #eceefe;
  display: flex;
  justify-content: center;
}

app-footer {
  width: 100%;
  height: 150px;
  background-color: #eceefe;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (min-device-width: 320px) and (max-device-width:1066px) {
    display: none;
  }
}

app-main-chat {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("woff");
}

:root {
  --bg-color: rgba(236, 238, 254, 1);
  --light-purple: rgba(173, 176, 217, 1);
  --medium-purple: rgba(121, 126, 243, 1);
  --dark-purple: rgba(68, 77, 242, 1);
  --dark-purple-text: rgba(83, 90, 241, 1);
  --blue-email-color: rgba(19, 129, 255, 1);
  --mat-sys-primary: rgba(68, 77, 242, 1); // Material Design

  --dark-purple-filter: brightness(0) saturate(100%) invert(37%) sepia(80%)
    saturate(5262%) hue-rotate(231deg) brightness(94%) contrast(102%);
}

.mat-mdc-menu-panel {
  max-width: unset !important;
}

body,
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.menu-box {
  padding: 10px 0 10px 0 !important;
  border-radius: 30px !important;
  padding: 30px !important;
  background-color: #ffffff !important;
  > div:nth-child(1) {
    display: flex !important;
    flex-direction: column !important;
    gap: 15px !important;
    align-items: center !important;
  }
}

.cdk-overlay-pane {
  top: 21px !important;
  position: absolute !important;
}

.menu-box-btn {
  width: 140px !important;
  text-align: center !important;
  &:hover {
    background-color: #eceefe !important;
    border-radius: 30px !important;
  }
}

a {
  text-decoration: none;
}
