@import "aos/dist/aos.css";

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-VariableFont_wght.ttf") format("woff");
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("woff");
}

:root {
  --bg-color: rgba(236, 238, 254, 1);
  --light-purple: rgba(173, 176, 217, 1);
  --medium-purple: rgba(121, 126, 243, 1);
  --dark-purple: rgba(68, 77, 242, 1);
  --dark-purple-text: rgba(83, 90, 241, 1);
  --blue-email-color: rgba(19, 129, 255, 1);
  --mat-sys-primary: rgba(68, 77, 242, 1); // Material Design
  --text-grey: rgba(104, 104, 104, 1);

  --dark-purple-filter: brightness(0) saturate(100%) invert(37%) sepia(80%) saturate(5262%) hue-rotate(231deg) brightness(94%)
    contrast(102%);

  --contactbar-width: 366px;
  --header-offset: 147px;
  --mat-sys-label-large-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: Nunito, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
}

.mdc-dialog__surface {
  background-color: rgba(0, 0, 0, 0) !important;
  // box-shadow: none !important;
}

.mat-mdc-dialog-surface {
  border-radius: 0 !important;
}

app-footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1023px) {
    display: none !important;
  }
}

.mat-mdc-menu-panel {
  max-width: unset !important;
}

.menu-box {
  border-radius: 30px !important;
  padding: 30px !important;
  background-color: #ffffff !important;
  > div:nth-child(1) {
    display: flex !important;
    flex-direction: column !important;
    gap: 15px !important;
    align-items: center !important;
  }
}

.add-member-dialog.cdk-overlay-pane {
  @media (max-width: 1023px) {
    margin-top: 0 !important;
    margin-right: 0 !important;
    top: 142px !important;
    right: 25px;
  }
}

.fullscreen.cdk-overlay-pane {
  @media (max-width: 1023px) {
    width: 100% !important;
    max-width: 100% !important;
    top: 0 !important;
    height: 100% !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    max-height: 100% !important;
  }
}

.fullscreen .mat-mdc-dialog-container .mdc-dialog__surface {
  @media (max-width: 1023px) {
    border-radius: 0 !important;
    overflow-y: hidden !important;
  }
}

.cdk-overlay-pane {
  top: 21px !important;
  position: absolute !important;
}

.menu-box-btn {
  width: 140px !important;
  text-align: center !important;
  padding: 10px 45px;
  &:hover {
    background-color: #eceefe !important;
    border-radius: 30px !important;
  }
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--medium-purple);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-purple);
}

textarea {
  border: none;
  resize: none;
  background: transparent;
  font-family: "Nunito";
  font-size: 18px;
  &::-webkit-resizer {
    display: none;
  }

  &:focus-visible {
    outline: none;
  }
}

.hover-dark-purple-to-medium {
  transition: all 0.125s ease-in-out;

  color: var(--dark-purple);
  &:hover {
    color: var(--medium-purple);
  }
}

.hover-to-dark-purple {
  transition: all 0.125s ease-in-out;
  padding: 8px;
  border-radius: 50%;

  img {
    transition: all 0.125s ease-in-out;
  }
  &:hover {
    background-color: var(--bg-color);
    mat-icon {
      color: var(--dark-purple);
    }
    img {
      filter: var(--dark-purple-filter);
    }
  }
}

.filter-hover-purple-3 {
  transition: all 0.125s ease-in-out;
  &:hover {
    transition: all 0.125s ease-in-out;
    img {
      filter: brightness(0) saturate(100%) invert(31%) sepia(35%) saturate(6836%) hue-rotate(231deg) brightness(101%) contrast(89%);
    }
  }
}

.bg-purple {
  background-color: var(--bg-color);
}

.hover-bg {
  padding: 8px 10px;
  border-radius: 30px;
  transition: all 0.125s ease-in-out;
  &:hover {
    background-color: var(--bg-color);
  }
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-32 {
  gap: 32px;
}
.d-flex {
  display: flex;
}

.full-width {
  width: 100%;
}

.p-lr-16 {
  padding: 0 16px;
}

.justify-sb {
  display: flex;
  justify-content: space-between;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.curser-pointer {
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}

.btn {
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 50px;
  transition: all 0.125s ease-in-out;
  font-weight: 700;
}

.btn-secundary {
  outline: solid 1px var(--medium-purple) !important;
  &:hover {
    outline: 1px solid white;
    background-color: var(--medium-purple);
    color: white;
  }
}

.btn-primary {
  transition: all 0.125s ease-in-out;
  background-color: var(--medium-purple);
  color: white;

  &:hover {
    outline: solid 1px var(--medium-purple) !important;
    color: black;
    background-color: white;
  }
}

.mat-drawer.mat-drawer-side {
  z-index: 0;
}

.navbar-toggle-container {
  width: 347px;
  height: auto;
  position: fixed;
  bottom: 27%;
  left: -138px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0 30px 30px;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  rotate: -90deg;
  background-color: white;
  padding: 23px 14px 23px 14px;
  cursor: pointer;
  z-index: 2;
  span {
    font-size: 20px;
    font-weight: 500;
  }
  svg {
    rotate: 90deg;
  }
  &:hover {
    span {
      color: var(--dark-purple);
    }
    svg {
      rect {
        stroke: var(--dark-purple);
      }
      path {
        stroke: var(--dark-purple);
      }
    }
  }
}

@keyframes slide-in-r-l {
  0% {
    transform: translate(10px, 10px);
  }

  50% {
    transform: translate(5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-in-l-r {
  0% {
    transform: translate(-10px, 10px);
  }

  50% {
    transform: translate(-5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 1023px) {
  :root {
    --header-offset: 80px;
  }
}
