<main>
  <section>
    <div class="thread-channel-close-button-container">
      <div class="thread-channel-container">
        <div class="thread-container">
          <p>Thread</p>
        </div>
        <!-- CHANNELNAME -->
        <div class="channel-name-container"># {{ currentChannel?.name }}</div>
      </div>
      <button (click)="closeThread()" class="close-button filter-hover-purple-3">
        <img src="/img/close.png" alt="close" />
      </button>
    </div>
    <div class="chatbox-container">
      <!-- MESSAGE FROM OTHERS // EXAMPLE -->

      <li
        [ngClass]="{ reverse: parentMessageData?.name === this.userService.auth.currentUser?.displayName }"
        class="background-color-effect"
      >
        <div class="user-message-container">
          <div class="user-profile-avatar-container">
            <img src="{{ parentMessageData?.avatar }}" alt="{{ parentMessageData?.name }}" />
          </div>
          <div class="name-time-message-container">
            <div class="name-time-container">
              <div class="name-container">{{ parentMessageData?.name }}</div>
              <div class="time-container">{{ parentMessageData?.time }}</div>
            </div>
            <div class="message-container">{{ parentMessageData?.message }}</div>
          </div>
        </div>
      </li>

      <!-- NEW MESSAGES -->
      <div class="answers-line-container">
        {{ messages.length }} Antworten
        <div class="line-container"></div>
      </div>

      <ul *ngFor="let message of messages">
        <li [ngClass]="{ reverse: message?.name === this.userService.auth.currentUser?.displayName }" class="background-color-effect">
          <div class="user-message-container">
            <div class="user-profile-avatar-container">
              <img src="{{ message?.avatar }}" alt="{{ parentMessageData?.name }}" />
            </div>
            <div class="name-time-message-container">
              <div class="name-time-container">
                <div class="name-container">{{ message?.name }}</div>
                <div class="time-container">{{ message?.time }}Uhr</div>
              </div>
              <div class="message-container">
                {{ message?.message }}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- TEXT MESSAGE FIELD  -->
    <div class="card-footer">
      <div class="textarea-container">
        <textarea placeholder="Antworten..." name="YourMessage" [(ngModel)]="input" (keyup.enter)="sendMessage()"></textarea>
        <div class="textarea-three-buttons-container">
          <div class="textarea-two-left-buttons-container">
            <button (click)="getList('@'); $event.stopPropagation()" class="hover-to-dark-purple">
              <mat-icon>alternate_email</mat-icon>
            </button>
            <button (click)="getList('#'); $event.stopPropagation()" class="hover-to-dark-purple">
              <mat-icon>tag</mat-icon>
            </button>
          </div>

          <button [disabled]="input.trim() == ''" (click)="sendMessage()">
            <mat-icon class="hover-dark-purple-to-medium">send</mat-icon>
          </button>
        </div>

        <ul *ngIf="this.listOpen">
          <ng-container *ngFor="let elemnent of currentList; index as i">
            <li (click)="openReciver(i, elemnent.key)">
              <div *ngIf="isChannel"><mat-icon>tag</mat-icon></div>
              <div class="userCircle" *ngIf="!isChannel">
                <img class="profilephoto" src="{{ elemnent?.profilephoto }}" alt="" />
                <div class="status-dot" [ngClass]="{ green: elemnent?.online }"></div>
              </div>
              {{ elemnent.fullname || elemnent.data.name }}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </section>
</main>
