main {
  display: flex;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  margin: 16px;
  flex: 1;
  max-height: calc(100svh - 140px);
}

.thread-channel-close-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 25px;
  position: relative;

  ::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    background: linear-gradient(to bottom, rgba(1, 1, 1, 0.04), rgba(1, 1, 1, 0));
  }

  .close-button {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 20px;

    img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--bg-color);
    }
  }

  .thread-channel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    .channel-name-container {
      margin-left: 8px;
      font-family: Nunito;
      font-size: 14px;
      color: var(--medium-purple);
    }
  }

  .thread-container {
    p {
      font-family: Nunito;
      font-weight: 700;
      font-size: 24px;
    }
  }
}

// OTHER USER MESSAGE STYLES
.background-color-effect {
  background-color: #ffffff;
  transition: background-color 0.125s ease-in-out;

  .message-container {
    background-color: var(--bg-color);
    transition: background-color 0.125s ease-in-out;
  }

  &:hover {
    background-color: var(--bg-color);
    transition: background-color 0.125s ease-in-out;

    .message-container {
      background-color: #ffffff;
    }
  }

  .user-message-container {
    font-family: Nunito;
    font-size: 18px;
    display: flex;
    gap: 20px;
    padding: 10px 40px;

    .name-time-message-container {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .message-container {
        font-size: 18px;
        padding: 15px;
        border-radius: 0 20px 20px 20px;
      }

      .name-time-container {
        display: flex;
        align-items: center;
        gap: 16px;

        .name-container {
          font-weight: 700;
          font-size: 18px;
        }

        .time-container {
          font-family: Nunito;
          font-size: 14px;
          color: var(--text-grey);
        }
      }
    }

    .user-profile-avatar-container {
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }
  }
}

.background-color-effect.reverse {
  .message-container {
    background-color: var(--medium-purple);
  }

  &:hover {
    background-color: var(--bg-color);

    .message-container {
      background-color: #ffffff;
    }
  }
  .user-message-container {
    flex-direction: row-reverse;
  }

  .message-container {
    border-radius: 20px 0 20px 20px !important;
  }
}

.answers-line-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  font-family: Nunito;
  font-size: 18px;
  color: var(--light-purple);

  .line-container {
    height: 1px;
    flex: 1;
    margin: 0 24px 0 20px;
    background-color: var(--bg-color);
  }
}

.chatbox-container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

// TEXTAREA & BUTTONS WITH HOVER/FOCUS EFFECT

.card-footer {
  padding: 25px;
}

.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  outline: 1px solid var(--light-purple);
  border-radius: 20px;
  transition: outline 0.125s ease-in-out;

  &:has(textarea:focus-visible) {
    outline: 1px solid var(--dark-purple);
  }

  &:hover {
    outline: 1px solid var(--medium-purple);
  }

  textarea {
    resize: none;
    border: none;
    padding: 20px;
    width: 100%;
    height: 96px;
    outline: none;
    background-color: transparent;
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 400;

    &::placeholder {
      font-family: "Nunito";
      font-size: 18px;
      font-weight: 400;
    }
  }

  .textarea-three-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0px 24px;

    .textarea-two-left-buttons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  ul {
    position: absolute;
    bottom: 92px;
    left: 104px;
    border: 1px solid var(--light-purple);
    border-radius: 25px 25px 25px 0;
    max-height: 250px;
    overflow-y: auto;
    background-color: white;
    padding: 8px;
  }

  li {
    list-style: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    &:hover {
      background-color: var(--bg-color);
    }

    .userCircle {
      position: relative;

      .profilephoto {
        width: 40px;
        border-radius: 50%;
      }

      .status-dot {
        position: absolute;
        bottom: 0;
        right: -2px;
        width: 12px;
        height: 12px;
        border: solid;
        background-color: gray;
        border-radius: 50%;
        border-color: #eceefe;
        border-width: 2px;
      }

      .green {
        background-color: #92c83e;
      }
    }
  }
  .reaction-menu {
    left: 80px;
    bottom: 96px;
    border-radius: 25px 25px 25px 0;
  }
}

button {
  border: none;
  outline: none;
  background-color: unset;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.125s ease-in-out;

  &:disabled {
    mat-icon {
      color: var(--light-purple);
    }
  }
}

.reaction-menu {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 200px;
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  flex-wrap: wrap;
  z-index: 10;
  margin-top: 20px;
  padding: 8px;
  border: 1px solid var(--light-purple);
  background-color: white;
  border-radius: 25px 25px 0 25px;
  > .emoji {
    padding: 8px;
    border-radius: 50%;
    transition: all 0.125s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--bg-color) !important;
    }
  }

  &:hover {
    background-color: white !important;
  }
}
