<main>
  <section>
    <div class="thread-channel-close-button-container">
      <div class="thread-channel-container">
        <div class="thread-container">
          <p>Thread</p>
        </div>
        <!-- CHANNELNAME -->
        <div class="channel-name-container"># {{ currentChannel?.name }}</div>
      </div>
      <button (click)="closeThread()" class="close-button filter-hover-purple-3">
        <img src="/img/close.png" alt="close" />
      </button>
    </div>
    <div class="chatbox-container">
      <!-- MESSAGE FROM OTHERS // EXAMPLE -->
      <div class="background-color-effect">
        <div class="user-message-container">
          <div class="user-profile-avatar-container">
            <img src="{{ parentMessageData?.avatar }}" alt="{{ parentMessageData?.name }}" />
          </div>
          <div class="name-time-message-container">
            <div class="name-time-container">
              <span class="name-container">{{ parentMessageData?.name }}</span>
              <span class="time-container">{{ parentMessageData?.time }} Uhr</span>
            </div>
            <span class="message-container">{{ parentMessageData?.message }}</span>
          </div>
        </div>
      </div>

      <!-- NEW MESSAGES -->
      <div class="answers-line-container">
        2 Antworten
        <div class="line-container"></div>
      </div>

      <ul *ngFor="let message of messages">
        <li class="background-color-effect">
          <div class="user-message-container">
            <div class="user-profile-avatar-container">
              <img src="{{ message?.avatar }}" alt="" />
            </div>
            <div class="name-time-message-container">
              <div class="name-time-container">
                <div class="name-container">{{ message?.name }}</div>
                <div class="time-container">14:30Uhr</div>
              </div>
              <div class="message-container">
                {{ message?.message }}
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- MESSAGE FROM OTHERS // EXAMPLE -->
      <!-- <div class="background-color-effect">
        <div class="user-message-container">
          <div class="user-profile-avatar-container">
            <img src="/img/avatars/avatar_5.png" alt="" />
          </div>
          <div class="name-time-message-container">
            <div class="name-time-container">
              <div class="name-container">Sofia Müller</div>
              <div class="time-container">14:30Uhr</div>
            </div>
            <div class="message-container">
              Ich habe die gleiche Frage. Ich habe gegoogelt und es scheint, dass die aktuelle Version Angular 13 ist. Vielleicht weiß
              Frederik, ob es wahr ist.
            </div>
          </div>
        </div>
      </div> -->

      <!-- YOUR MESSAGE -->
      <!-- <div class="you-background-color-effect">
        <div class="you-user-message-container">
          <div class="you-name-time-message-container">
            <div class="you-name-time-container">
              <div class="you-time-container">15:06 Uhr</div>
              <div class="you-name-container">Frederik Beck</div>
            </div>
            <div class="you-message-container">Ja das ist es.</div>
          </div>
          <div class="you-user-profile-avatar-container">
            <img src="/img/avatars/avatar_3.png" alt="" />
          </div>
        </div>
      </div> -->
    </div>

    <!-- TEXT MESSAGE FIELD  -->
    <div class="card-footer">
      <div class="textarea-container">
        <textarea placeholder="Antworten..." name="YourMessage" [(ngModel)]="input"></textarea>
        <div class="textarea-three-buttons-container">
          <div class="textarea-two-left-buttons-container">
            <div class="button-smiley">
              <button></button>
            </div>
            <div class="button-tag-person">
              <button></button>
            </div>
          </div>

          <button [disabled]="input.trim() == ''" (click)="sendMessage()">
            <mat-icon class="hover-dark-purple-to-medium">send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
