<header class="justify-sb full-width" *ngIf="isMobile">
  <div class="align-center">
    <button>
      <a [routerLink]="['/contactbar']" routerLinkActive="router-link-active">
        <mat-icon>arrow_back_ios</mat-icon>
      </a>
    </button>
    <img src="/img/workspace-logo.svg" alt="Logo" />
  </div>

  <img [src]="this.userService.auth.currentUser?.photoURL" alt="this.userService.auth.currentUser?.displayName" />
</header>

<main>
  <section>
    <div class="thread-channel-close-button-container">
      <div class="thread-channel-container">
        <div class="thread-container">
          <p>Thread</p>
        </div>
        <!-- CHANNELNAME -->
        <div class="channel-name-container"># {{ currentChannel?.name }}</div>
      </div>
      <button (click)="closeThread()" class="close-button filter-hover-purple-3">
        <img src="/img/close.png" alt="close" />
      </button>
    </div>

    <div class="chatbox-container">
      <li
        [ngClass]="{ reverse: parentMessageData?.name === this.userService.auth.currentUser?.displayName }"
        class="background-color-effect"
      >
        <div class="user-message-container">
          <div class="user-profile-avatar-container">
            <img src="{{ parentMessageData?.avatar }}" alt="{{ parentMessageData?.name }}" />
          </div>
          <div class="name-time-message-container">
            <div class="name-time-container">
              <div class="name-container">{{ parentMessageData?.name }}</div>
              <div class="time-container">{{ parentMessageData?.time }}</div>
            </div>
            <div class="message-container">{{ parentMessageData?.message }}</div>
          </div>
        </div>
      </li>

      <!-- NEW MESSAGES -->
      <div class="answers-line-container">
        {{ messages.length }} Antworten
        <div class="line-container"></div>
      </div>

      <ul *ngFor="let message of messages; index as i">
        <li
          (mouseleave)="reactionMenuOpen = false; reactionMenuOpenInBar = false; menuOpen = false"
          [ngClass]="{ reverse: message?.name === this.userService.auth.currentUser?.displayName }"
          class="background-color-effect"
        >
          <div class="user-message-container">
            <div class="user-profile-avatar-container">
              <img src="{{ message?.avatar }}" alt="{{ parentMessageData?.name }}" />
            </div>
            <div *ngIf="!(isEditing && editingMessageId === i)" class="name-time-message-container">
              <div class="name-time-container">
                <span class="name-container">{{ message?.name }}</span>
                <span class="time-container">{{ message?.time }}Uhr</span>
              </div>

              <div class="message-container">
                {{ message?.message }}
              </div>

              <div class="d-flex justify-end gap-20 flex-wrap">
                <ng-container
                  *ngFor="
                    let emoji of showAllReactions
                      ? uniqueEmojis(message.reaction)
                      : (uniqueEmojis(message.reaction) | slice : 0 : (isMobile ? 2 : 20))
                  "
                >
                  <div
                    (click)="addReaction(message, emoji.emoji)"
                    [ngClass]="{ 'bg-purple': this.hasReacted(emoji.emoji, message.reaction) }"
                    class="emoji-box"
                  >
                    <img [src]="'img/emojis/' + emoji.emoji + '.png'" alt="{{ emoji }}" />
                    <span>{{ countEmoji(emoji, message.reaction) }}</span>

                    <div class="reaction-from-dialog">
                      <img [src]="'img/emojis/' + emoji.emoji + '.png'" alt="{{ emoji }}" />

                      <h3 class="font-weight-700">{{ getReactionTextForEmoji(emoji.emoji, message.reaction).name }}</h3>
                      <span>{{ getReactionTextForEmoji(emoji.emoji, message.reaction).reactionText }}</span>
                    </div>
                  </div>
                </ng-container>

                <button
                  class="emoji-box"
                  *ngIf="countUniqueEmojis(message.reaction) > (isMobile ? 2 : 20) && !showAllReactions"
                  (click)="showAllReactions = true"
                >
                  {{ countUniqueEmojis(message.reaction) - (isMobile ? 2 : 20) }} weitere
                </button>
                <button
                  class="emoji-box"
                  *ngIf="message.reaction.length > (isMobile ? 2 : 20) && showAllReactions"
                  (click)="showAllReactions = false"
                >
                  Weniger anzeigen
                </button>

                <button
                  *ngIf="message.reaction.length > 0"
                  (click)="this.reactionMenuOpen = !this.reactionMenuOpen; this.editingMessageId = i"
                  class="hover-to-dark-purple"
                >
                  <img src="/img/reaction-bar-icons/add_reaction.png" alt="" />
                </button>

                <div *ngIf="reactionMenuOpen && editingMessageId == i" class="reaction-menu">
                  <ng-container *ngFor="let emoji of emojis">
                    <div
                      class="emoji"
                      [ngClass]="{ 'bg-purple': this.hasReacted(emoji, message.reaction) }"
                      (click)="addReaction(message, emoji)"
                    >
                      <img [src]="'img/emojis/' + emoji + '.png'" alt="{{ emoji }}" />
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div *ngIf="isEditing && editingMessageId === i" class="textarea-container">
              <textarea [(ngModel)]="inputEdit" rows="2"></textarea>

              <div class="action-container">
                <div class="d-flex gap-10">
                  <button class="btn btn-secundary" (click)="cancel()">Abbrechen</button>
                  <button class="btn btn-primary" (click)="updateMessage(message)">Speichern</button>
                </div>
              </div>
            </div>

            <div *ngIf="!isEditing" class="reaction-bar">
              <div class="position-relative">
                <button
                  (click)="this.reactionMenuOpenInBar = !this.reactionMenuOpenInBar; this.editingMessageId = i"
                  class="hover-to-dark-purple"
                >
                  <img src="/img/reaction-bar-icons/add_reaction.png" alt="" />
                </button>

                <div *ngIf="reactionMenuOpenInBar && editingMessageId === i" class="reaction-menu">
                  <ng-container *ngFor="let emoji of emojis">
                    <div
                      class="emoji"
                      [ngClass]="{ 'bg-purple': this.hasReacted(emoji, message.reaction) }"
                      (click)="addReaction(message, emoji)"
                    >
                      <img [src]="'img/emojis/' + emoji + '.png'" alt="{{ emoji }}" />
                    </div>
                  </ng-container>
                </div>
              </div>

              <button
                *ngIf="message.name == this.userService.auth.currentUser?.displayName"
                class="hover-to-dark-purple"
                (click)="this.menuOpen = !this.menuOpen"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <div *ngIf="menuOpen && message.name == this.userService.auth.currentUser?.displayName" class="menu">
                <button (click)="editMessage(message, i)">Nachricht bearbeiten</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- TEXT MESSAGE FIELD  -->
    <div class="card-footer" (mouseleave)="listOpen = false">
      <div class="textarea-container">
        <textarea
          placeholder="Antworten..."
          name="YourMessage"
          rows="4"
          [(ngModel)]="input"
          (keyup.enter)="sendMessage()"
          (click)="reactionMenuOpenInTextarea = false; listOpen = false"
        ></textarea>
        <div class="textarea-three-buttons-container">
          <div class="textarea-two-left-buttons-container">
            <button
              (click)="reactionMenuOpenInTextarea = !reactionMenuOpenInTextarea; listOpen = false; $event.stopPropagation()"
              class="hover-to-dark-purple"
            >
              <mat-icon>sentiment_satisfied</mat-icon>
            </button>
            <button (click)="getList('@'); reactionMenuOpenInTextarea = false; $event.stopPropagation()" class="hover-to-dark-purple">
              <mat-icon>alternate_email</mat-icon>
            </button>
            <button (click)="getList('#'); reactionMenuOpenInTextarea = false; $event.stopPropagation()" class="hover-to-dark-purple">
              <mat-icon>tag</mat-icon>
            </button>
            <img *ngIf="reactions[0]" [src]="'img/emojis/' + reactions[0]?.emoji + '.png'" alt="{{ reactions[0]?.emoji }}" />
          </div>

          <button [disabled]="input.trim() == ''" (click)="sendMessage()">
            <mat-icon class="hover-dark-purple-to-medium">send</mat-icon>
          </button>
        </div>

        <ul *ngIf="this.listOpen">
          <ng-container *ngFor="let elemnent of currentList; index as i">
            <li (click)="openReciver(i, elemnent.key)">
              <div *ngIf="isChannel"><mat-icon>tag</mat-icon></div>
              <div class="userCircle" *ngIf="!isChannel">
                <img class="profilephoto" src="{{ elemnent?.profilephoto }}" alt="" />
                <div class="status-dot" [ngClass]="{ green: elemnent?.online }"></div>
              </div>
              {{ elemnent.fullname || elemnent.data.name }}
            </li>
          </ng-container>
        </ul>

        <div class="reaction-menu" *ngIf="reactionMenuOpenInTextarea">
          <ng-container *ngFor="let emoji of emojis">
            <div (click)="addEmoji(emoji); reactionMenuOpenInTextarea = false" class="emoji">
              <img [src]="'img/emojis/' + emoji + '.png'" alt="{{ emoji }}" />
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</main>
