app-header {
  width: 100%;
  align-self: center;
  max-width: 1920px;
}

:host {
  display: grid;
  height: 100svh;
}

main {
  overflow: auto;
}

.card-header {
  display: flex;
}

.card {
  margin: 0 2rem 2rem;
  display: flex;
  max-width: 1920px;
  border-radius: 30px;
  background-color: #ffffff;
  flex-direction: column;
  padding: 48px 50px;
  overflow: hidden;
  text-align: justify;
}
