app-header {
  width: 100%;
  align-self: center;
  max-width: 1920px;
}

:host {
  display: grid;
  height: 100svh;
}

.page {
  overflow-y: auto;
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

app-legal-header {
  --legal-header-title-color: var(--dark-purple);
}

h4 {
  color: var(--dark-purple);
}
