@if (this.navigationService.isMobile()) {
  <app-chat-header></app-chat-header>
}
<main>
  <section (click)="hideList()">
    <div class="chat-header">
      <button (click)="showProfile()">
        <div class="profile-status">
          <img class="profile-status__image" [src]="currentReciever()?.photoUrl" alt="" />
          <div class="profile-status__dot" [ngClass]="{ 'profile-status__dot--online': currentReciever()?.online }"></div>
        </div>
        {{ currentReciever()?.displayName }}
      </button>
    </div>

    <ul class="chat-content" #chat>
      @for (message of this.messagesService.messages(); track message.id; let i = $index) {
        @if (i === 0 || this.chatService.isNewDay(message, this.messagesService.messages()[i - 1])) {
          <li>
            <app-divider-template [messageData]="message.timestamp"> </app-divider-template>
          </li>
        }
        <li>
          <app-message-template [message]="message" [channelType]="'direct'"></app-message-template>
        </li>
      } @empty {
        <li class="startContainer">
          <div class="userContainer">
            <img [src]="currentReciever()?.photoUrl" alt="" />
            <span>{{ currentReciever()?.displayName }}</span>
          </div>
          <div class="welcomeText">
            @if (!isYou()) {
              <p>
                Diese Unterhaltung findet nur zwischen
                <a>&commat;{{ currentReciever()?.displayName }} </a>und dir statt.
              </p>
            } @else {
              <p>
                <span> Dieser Raum ist nur für dich da.</span> Mache dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien
                griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.
              </p>
            }
          </div>
        </li>
      }
    </ul>

    <footer class="card-footer">
      <app-textarea-template
        [currentUserId]="currentUserId()"
        [reciverId]="currentRecieverId() || ''"
        [reciverCompontent]="'direct'"
        [messages]="this.messagesService.messages()"
        [isChannelComponent]="false"
        [placeholderText]="'Nachricht an @' + currentReciever()?.displayName"
      ></app-textarea-template>
    </footer>
  </section>
</main>
