<div (mouseleave)="reactionMenuOpenInTextarea = false" (click)="reactionMenuOpenInTextarea = false" class="input-container">
  <textarea
    #ta
    (keydown)="onKeydown($event, ta)"
    (click)="onCaretMoved(ta)"
    (keyup)="onKeyup($event, ta)"
    (input)="onCaretMoved(ta)"
    [(ngModel)]="input"
    rows="3"
    [name]="input"
    [placeholder]="placeholderText()"
  ></textarea>

  <div class="action-container justify-sb">
    <div class="gap-10">
      @if (isChannelComponent()) {
        <button
          appButton
          variant="icon"
          class="btn"
          aria-label="Emoji einfügen"
          (click)="reactionMenuOpenInTextarea = !reactionMenuOpenInTextarea; $event.stopPropagation()"
        >
          <mat-icon>sentiment_satisfied</mat-icon>
        </button>
      }

      <button appButton variant="icon" class="btn" aria-label="Person erwähnen" (click)="insertTrigger('@', ta); $event.stopPropagation()">
        <mat-icon>alternate_email</mat-icon>
      </button>
      <button appButton variant="icon" class="btn" aria-label="Channel erwähnen" (click)="insertTrigger('#', ta); $event.stopPropagation()">
        <mat-icon>tag</mat-icon>
      </button>
    </div>
    <button appButton variant="icon" class="btn btn-send" aria-label="Nachricht senden" [disabled]="input.trim() == ''" (click)="newMessage()">
      <mat-icon>send</mat-icon>
    </button>

    @if (searchService.getListBoolean()) {
      <div class="tag-container">
        <app-search-result [input]="input" (tagInserted)="onTagInserted($event, ta)"></app-search-result>
      </div>
    }
    @if (reactionMenuOpenInTextarea) {
      <div class="reaction-menu">
        <div class="scroll-container">
          @for (emoji of emojis; track $index) {
            <span (click)="addEmoji(emoji); reactionMenuOpenInTextarea = false" class="emoji">
              {{ emoji }}
            </span>
          }
        </div>
      </div>
    }
  </div>
</div>
